[2014-12-31 08:41] tomersagi opened #22 "Data generator generates empty files"
Hi,
I ran the latest version of the data generator on SF1 and got a list of person_x.csv files. person_0.csv has 1000KB data, person_1.csv has 10KB data and person_2.csv - person_31.csv have 75 Bytes which is just the header of the file. Same phenomenon in other filesets.
Overall data size is good (~1GB), but why the extra files?
Thanks,
Tomer

[2015-01-04 09:00] ArnauPrat commented on #24
Hi @tomersagi,

It has been documented for a while, in the configuration and execution page. See the table of possible parameters. You just have to set "updateStreams:true" in your params.ini file.
https://github.com/ldbc/ldbc_snb_datagen/wiki/Compilation_Execution
Regards,
Arnau

[2015-01-04 09:17] tomersagi commented on #24
oh, sorry, was looking for it in the [configuration](https://github.com/ldbc/ldbc_snb_datagen/wiki/Configuration) page and not on the [compilation](https://github.com/ldbc/ldbc_snb_datagen/wiki/Compilation_Execution) page.
Thanks
Tomer

[2015-01-04 12:24] tomersagi opened #25 "run.sh doesn't delete all temp files"
Seems that run.sh lines:

    rm -f m0factors.txt
    rm -f m0friendList*

only delete one of a lot of temp files.

[2015-01-18 07:27] tomersagi commented on #25
issue has improved, but it's still leaving the .crc files around.

[2015-01-18 07:28] tomersagi commented on #23
Issue was resolved in latest versoin

[2015-01-18 07:28] tomersagi commented on #20
This has been resolved with the introduction of custom serializers.

[2015-01-18 07:29] tomersagi commented on #22
Resolved in latest version.

[2015-01-18 07:29] #22 closed

[2015-01-18 10:28] ArnauPrat commented on #26
Hi Tomer,

Could you check whether these persons are created in the update stream
files or not?
Also I think it would be more convenient to open the issues at the
repository of this new last iteration, instead of the current public one.

Thank you,

Arnau
El 18/01/2015 08:33, "Tomer Sagi" <notifications@github.com> escribió:

[2015-01-18 10:49] tomersagi commented on #26
I thought you were going to merge it into here.
In any case, the person is not created in the update stream, although new forum posts for that person are created:

    -bash-4.2$  grep '1328848158515' update*_person.csv
    -bash-4.2$  grep '1328848158515' update*
    updateStream_0_0_forum.csv:1351225293504|1328848158515|5|257698118932|13194139543559|1351225293504
    updateStream_0_0_forum.csv:1

[2015-01-18 11:11] ArnauPrat commented on #26
Can I have your params.ini file please?
El 18/01/2015 11:49, "Tomer Sagi" <notifications@github.com> escribió:

[2015-01-18 11:38] tomersagi commented on #26
ldbc.snb.datagen.generator.scaleFactor:1
ldbc.snb.datagen.serializer.compressed:false
ldbc.snb.datagen.serializer.personSerializer:ldbc.snb.datagen.serializer.snb.interactive.CSVPersonSerializer
ldbc.snb.datagen.serializer.invariantSerializer:ldbc.snb.datagen.serializer.snb.interactive.CSVInvariantSerializer
ldbc.snb.datagen.serializer.personActivitySerializer:ldbc.snb.datagen.serializer.snb.inter

[2015-01-22 12:40] tomersagi commented on #26
Resolved by latest commit. Thanks @ArnauPrat

[2015-01-26 08:43] tomersagi opened #1 "some of the updateStream files are empty"
Hi,
Seems that when generating SF1 on 24 threads, some of the update stream files are generated empty, causing a Null pointer error in the ldbc driver. FYI @ArnauPrat and @alexaverbuch
Tomer

[2015-01-26 15:04] alexaverbuch opened #2 "person update stream columns are in the wrong order"
should be like this:

[code]

[2015-01-27 09:30] minhducit commented on #27
Hi awolven,

Have you searched for some solutions e.g.,
http://james.wheare.org/notes/2009/02/import-site-failed-use-v-for-traceback.php

May be, it can help.

[2015-01-29 11:15] tomersagi opened #3 "Add person stream contains university that doesn't exist"
Hi,
I'm getting errors from trying to add a person to the database and then update their studyAt relationship to a university that doesn't exist. e.g.:

[code]

Please advise,
Tomer

[2015-02-01 06:25] #1 closed, assigned to nobody

[2015-02-01 12:44] #3 closed, assigned to nobody

[2015-02-11 08:40] tomersagi opened #4 "out of memory error"
Hi,
Trying to run SF30 on 24 threads ran into the following issue:

[code]

Configuration ideas? Should I increase the general heap space / site heap space / job heap space?
BTW, the machine itself has 378GB RAM.
Thanks
Tomer

[2015-02-21 13:52] #2 closed, assigned to nobody

[2015-02-25 12:26] #4 closed, assigned to nobody

[2015-03-03 02:49] alexaverbuch opened #5 "all Add Friendship events end up in updateStream partition 0"
this is my config (feel free to ask for more details!):

[code]

[2015-03-03 09:29] tomersagi opened #6 "New installation of datagen hangs"
Hi,
I'm trying to run SF10 on a new machine.
I just now pulled the latest version and I think I configured hadoop ok this time...

Two issues:
1. It seems to ignore my SF param.
2. Datagen hangs on the first map-reduce.

This is my params.ini:

[code]

   numThreads:8

This is where it hangs:

[code]

Ideas?

[2015-03-03 10:36] #6 closed, assigned to nobody

[2015-04-22 13:58] Gillani0 opened #28 "ZeroDivisionError"
Hi, I am getting the following error when I tried to generate data with numOfPerson and numOfyeah option in params.init.  Cheers

"loading input for parameter generation
find parameter bindings for Persons
Traceback (most recent call last):
  File "paramgenerator/generateparams.py", line 296, in <module>
    sys.exit(main())
  File "paramgenerator/generateparams.py", line 152, in main
    selected

[2015-04-22 15:35] ArnauPrat commented on #28
Hi @Gillani0
The version of datagen you are using is currently deprecated. It was moved from the public ldbc group to the ldbc-dev group some weeks ago. Please got to https://github.com/ldbc/ldbc_snb_datagen and clone that repository. Read the documentation again, as it now uses hadoop 2.6.0 and the format of params file has changed.
Regards,
Arnau

[2015-04-23 09:49] Gillani0 opened #7 "turtle or n3 serialiser"
Hi, the previous version of SNB provides the n3 and turtle serialiser, however I can't find it in new code. Can you please help me in this matter. Cheers

[2015-04-30 08:04] #5 closed, assigned to nobody

[2015-04-30 08:07] ArnauPrat commented on #7
Hi @Gillani0
I worked on a Turtle serializer for the new version. To use it you'll need to set up the following variables inyour params.ini file after pulling the latest version:

[code]

I cannot guarantee it is free of bugs, but maybe you can try and test it.

Regards,

[2015-04-30 08:41] Gillani0 commented on #7
Thanks Arnau,
I was more in a need for a N-Quad file, so I managed to code it by myself according to my own use cases, but I will also try to test this one. Cheers

[2015-05-21 15:54] alexaverbuch opened #8 "distribution of WORKS_AT.workFrom year seems odd"
the distribution of years on this property looks fine between ~1980 and ~2013, like a bell curve.
however, it has a very large number of entries at 1970 & 1971.

something like this

[code]

is that expected?

[2015-05-21 18:53] ArnauPrat commented on #8
Hi Alex, this is definitely something worthto investigate, as workat years should never habe numbera such small (1970-71)

Thanks for bringing this up, ill take a look.

[2015-05-21 18:57] alexaverbuch commented on #8
the beginning of my SF1 person_workAt_organi... file

[code]

let me know if you want me to test something

[2015-05-21 18:59] ArnauPrat commented on #8
Please, just paste the configuration used
El 21/5/2015 20:57, "Alex Averbuch" notifications@github.com escribió:

[2015-05-21 19:02] alexaverbuch commented on #8
[code]

[2015-05-21 19:04] tomersagi commented on #8
Future carreer planning… For sure. I’ve seen it before

From: ArnauPrat [mailto:notifications@github.com]
Sent: Thursday, May 21, 2015 9:59 PM
To: ldbc/ldbc_snb_datagen
Subject: Re: [ldbc_snb_datagen] distribution of WORKS_AT.workFrom year seems odd (#8)

Please, just paste the configuration used
El 21/5/2015 20:57, "Alex Averbuch" <notifications@github.com<mailto:notifications@github.com>> escrib

[2015-07-07 08:52] alexaverbuch opened #9 "update stream: person adds post before becoming member of forum"
I created a validation dataset using

[code]

and have found that in `updateStream_0_4_forum.csv` this line (Line 9861 --- Add Post)
`1294783648083|1293778021203|6|42949894023||1294783648083|200.93.242.168|Safari|tk|About Isabella I of Castil. About Samuel Johnson, his . About Johnny Carson, their. About Spain, The sec.|105|5497558140960|25769815355|47|1771;2038;3076;6424`

occurs before this line

[2015-07-07 16:07] ArVr commented on #9
Offtopic:

Through your posted I finally manged to export data as CSV Merge Foreign. I couldn't find it anywhere in the Wiki or in the LDBC SNB Documentation. In the documentation they only describe the options but not how you can execute them (or did i overlooked it?).

[2015-07-20 20:47] andralungu opened #10 "Syntax error in generateparams.py"
Hi,

I am new to LDBC. I'd like to play with it to generate a nice 50 billion vertex graph :).
For now, all I did was to snoop around the guidelines and to place the contents of ldbc_snb_datagen on my cluster nodes. I saw that you guys have a script that runs everything so I tried sh run.sh; beforehand I modified the first two lines to contain the correct paths...

Still I get this error:

---
- S

[2015-07-20 21:04] ArVr commented on #10
Hi Andra!

Could you check in your terminal if Java_home is set right? <code> echo $JAVA_HOME </code>. If u see nothing you have to set your JAVA_home parameter.

Greats!

Aron

[2015-07-21 05:19] andralungu commented on #10
Hi Aron!

It appears to be set:
andra.lungu@wally011 ~ $ echo $JAVA_HOME
/etc/java-config-2/current-system-vm

[2015-07-21 06:52] andralungu commented on #10
The problem is that you're using python 2.7. The latest version no longer supports "((" -tuple arguments-. I ran this with python 2.

[2015-07-22 07:56] andralungu opened #11 "Missing distribution.R in the tools folder"
So now that I have my nice generated graph, I wanted to use the degreeAnaysis script provided in the tools folder. The problem is that it calls this distribution R script that seems to have been lost (there's just a cumulative.R). For me it's fine, I have my own R script that does that, I just need to do some `awk`s to bring it to the desired form. I just thought it would be nice to let you guys k

[2015-07-22 08:29] ArnauPrat commented on #11
Sorry for that Andra, I just pushed the script. The thing is that I just made this tools for internal use I did not expecte anybody else to use them, so they are not very polished :P

[2015-07-22 09:23] andralungu commented on #11
Thanks! Don't worry about it :)
It's always good to make scripts ready for public use, you never know!

[2015-07-22 09:23] #11 closed, assigned to nobody

[2015-08-21 05:45] #7 closed, assigned to nobody

[2015-08-21 05:46] #10 closed, assigned to nobody

[2015-10-02 10:29] alexaverbuch commented on #9
@ArnauPrat can we close this?

[2015-10-02 10:34] alexaverbuch commented on #8
@ArnauPrat is this resolved?

[2015-10-02 10:36] alexaverbuch opened #14 "give BI Parameters files helpful header names"
at present headers are something like this, for all files:

[code]

it would be great if they described their content

cc @mkaufmann

[2015-10-02 10:40] ArnauPrat opened #15 "Wrong q2_params.txt in Bi branch"
@mkaufmann
According to BI query2 specification (http://wiki.ldbcouncil.org/display/TUC/Business+Intelligence+Workload), the query requires five parameters:
    \* date1 - Date
    \* date2 - Date
    \* country1 - String
    \* country2 - String
    \* endDate - Date

Currently, q2_params.txt file contains something in the form of:

[code]

It seems that the first two columns do not contain valid

[2015-10-02 10:45] mkaufmann commented on #15
For param generation the parameters of some queries have to be changed. Two countries did not give enough options to generate consistent parameters. So instead there now is a comma seperated list of countries of varying length. Can be 3 can be 2 or can be more.  Param0 and Param1 are not dates but day offsets from the base date.

[2015-10-02 10:59] alexaverbuch commented on #15
@mkaufmann do you mind writing up a short description of the format of all parameter files?

[2015-10-02 11:42] ArnauPrat commented on #15
@mkaufmann Then, do we need to change the query definition to accept a variable numbe of countries? or how it works?
Also, I think we should have dates as complete dates instead of offsets to be consistent

[2015-10-19 08:36] mkaufmann commented on #14
Fixed in commit 2aa605972803eb85d510320dfef884274f8b4d24

[2015-10-19 08:36] #14 closed, assigned to nobody

[2015-10-19 12:21] mkaufmann commented on #15
The query definition is now updated in the wiki, added the endDate param during generation

[2015-10-19 12:21] #15 closed, assigned to nobody

[2016-02-17 13:02] MarcoLotz opened #17 "generateparams error when scaling"
Hi there,

I am trying to generate the 100GB dataset, but I am getting the following error:
I do have enough memory on the YARN containers (set even to 200GB each) and still have this error happening.

[code]

So far I was able to generate up to the 10GB one. Any ideas of what could this be?

[2016-02-17 13:15] ArnauPrat commented on #17
The parameter generation is a step that starts just after the data generation has finished, and is done by a python script. So first, you must make sure the following:
- Data generation run successfuly. Make sure no errors were reported and that data is in your HDFS output folder.
- Make sure you are using python 2.6-7

More questions. How many nodes does your cluster have? Is the dataset you are

[2016-02-17 13:55] MarcoLotz commented on #17
Hi @ArnauPrat. Thank you for your very fast answers in this and the other posts :)

I am rechecking, but I guess it was a glitch caused by no enough storage on HDFS (its folder was mounted in the wrong device). I am running in a quite unusual configuration, a single node with 4TB RAM and 80 cores - with yarn configured to take advantages of this. This may under perform in some moments due to the s

[2016-02-17 14:02] ArnauPrat commented on #17
Exactly, hadoop folder is just used to store temp files used during data generation. Most of them are deleted once they are not needed anymore, to reduce the amount of required space to operate. We also use it to store the factor files used later for parameter generation.
Btw, I'd suggest you to use the BI branch, which should be faster and will be merged soon to the master one. It contains severa

[2016-02-18 18:24] ArnauPrat commented on #17
Hi Marco,

In my laptop I use 2.7.11. On a hadoop cluster I have 2.7.3, and I have
successfully run parameter generation in a machine with 2.7.9

Can you confirm that data generation is working properly? Make sure you
pull the latest changes from master branch before executing.

Regards,

Arnau

On 18/02/16 18:18, Marco Aurelio Lotz wrote:

[2016-02-18 19:29] MarcoLotz commented on #17
Thanks @ArnauPrat. Looks like lots of modifications came from the merge with bi branch :)

Will verify if it runs properly in a bit. Am installing python 2.7.3. By the way, there's a ":" file in the root folder that was probably left from the old bi branch

Cheers,
Marco

[2016-02-18 20:11] MarcoLotz commented on #17
@ArnauPrat, I guess the BI merge added some unwanted files. I would suggest modifying the .run to remove the user specific part (first couple of lines). Is the heap option also user specific?

the zip part may require apt-get zip in Ubuntu 14.04 server, is the adding that section to the jar really required? I would suggest doing it with the jar command instead

i.e.

[code]

Finally, just wonderin

[2016-02-19 00:54] MarcoLotz commented on #17
Thanks for all the help @ArnauPrat, managed to get everything working :)

The problem wasn't the python version itself, but a HDFS misconfiguration that only shows up when generating more than 30GB. The python thing was happening because, even if the hadoop job fails, the python script would try to run and process the hadoop output data.

I would suggest adding a check for the hadoop command line

[2016-02-19 00:54] #17 closed, assigned to nobody

[2016-06-20 12:01] #9 closed, assigned to nobody

[2016-06-20 12:02] #8 closed, assigned to nobody

[2016-07-25 15:04] danhlephuoc opened #18 "Compilation errors with run.sh"
Hi,

I tried to compile the datagen with the run script run.sh, but I got the compilation error as bellow (I'm using : openjdk version "1.8.0_71")

[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /home/danh.lephuoc/ldbc/ldbc_snb_datagen/src/main/java/ldbc/snb/datagen/generator/distribution/utils/Bucket.java:[3,19] package javafx.util does no

[2016-07-25 15:58] ArnauPrat commented on #18
Hi @danhlephuoc
Is this from a fresh clone? I've tested in two machines using both openjdk and java hotspot and I had no problems. If you rune mvn -DskipTests assembly:assembly, do you see the same problem?
Can you paste here your run.sh file?
Best,
Arnau

[2016-07-25 20:32] danhlephuoc commented on #18
hi @ArnauPrat,

Yes, It's the fresh clone, I ran mvn -DskipTests assembly:assembly, but had the same problem.

Here is my run.sh config....

DEFAULT_HADOOP_HOME=/home/danh.lephuoc/hadoop/hadoop-2.6.0
DEFAULT_LDBC_SNB_DATAGEN_HOME=/home/danh.lephuoc/ldbc/ldbc_snb_datagen

HADOOP_HOME=${HADOOP_HOME:-$DEFAULT_HADOOP_HOME}
LDBC_SNB_DATAGEN_HOME=${LDBC_SNB_DATAGEN_HOME:-$DEFAULT_LDBC_SNB_DATAGEN_HOME}

[2016-07-25 21:32] ArnauPrat commented on #18
Arr you using ubuntu? It seems that Ubuntu doesn't include by default the
openjfx package integrated with openjdk by default. If thats the case, try
to sudo apt-get install openjfx

El 25 jul. 2016 10:32 p. m., "Danh Le Phuoc" notifications@github.com
escribió:

hi @ArnauPrat https://github.com/ArnauPrat,

Yes, It's the fresh clone, I ran mvn -DskipTests assembly:assembly, but had
the same problem

[2016-08-10 23:37] danhlephuoc commented on #18
@ArnauPrat: I used Centos, but then I tried to do the same with Ubuntu I have following errors:

java.lang.Exception: org.apache.hadoop.mapreduce.task.reduce.Shuffle$ShuffleError: error in shuffle in localfetcher
#19
        at org.apache.hadoop.mapred.LocalJobRunner$Job.runTasks(LocalJobRunner.java:462)
        at org.apache.hadoop.mapred.LocalJobRunner$Job.run(LocalJobRunner.java:529)
Caused by:

[2016-08-11 12:01] tomersagi commented on #18
@ArnauPrat this is an issue in Debian as well. Why do we need this dependency at all?

Lets replace it with Apache Commons [Pair](http://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/tuple/Pair.html)

[2016-10-13 10:36] drkwolf opened #19 "generating messages between user"
Hi there,
i'm interested in the message frequency between users and i am wondering if there's any plan to implement this feature

[2016-10-13 10:43] ArnauPrat commented on #19
Hi @drkwolf
Could you elaborate more on your request please? Users do no exchange messages privately but comment on other users's wall or on groups. The amount of messages issued per user per month can be controlled by means of an iternal parameter. Maybe I can tell you how to do so if this is what you need.

[2016-10-13 13:26] drkwolf commented on #19
private messages is available on all social media platform, actually  we have a project in which we have to propose a privacy model to social media users based on fuzzy clustering and  private messaging frequency attribute between users is important for us.

[2016-11-08 18:57] whatsthecraic opened #20 "The max length of the type string is not enforced"
Hi,

The [benchmark specification](https://github.com/ldbc/ldbc_snb_docs/blob/master/LDBC_SNB_v0.2.3.pdf) on pp.12 defines the type string as a variable length text of size 40 unicode characters. However it appears that at least using the SNB generator with SF1, several strings have longer lengths. For instance:
* forum.name:
Failed to import table line 316 field title 'varchar(40)' expected in 'G

[2016-11-09 09:47] ArnauPrat commented on #20
Thanks @whatsthecraic
You are certainly right, these lengths are not currently enforced. I'll raise the issue to our next internal meeting and work on the fix ASAP.
Best,
Arnau

[2016-11-17 13:12] whatsthecraic opened #21 "Some persons do not have an email address"
Hi,

At least for the generated dataset with SF1, some persons do not have an email address. For instance, from the output of the CSVMergeForeign serializer:
[code]
The [specification](https://github.com/ldbc/ldbc_snb_docs/blob/master/LDBC_SNB_v0.2.3.pdf) describes on pp. 16 that the attribute email of a Person consists of 1 or more strings.

Is this a discrepancy between the specification and the

[2016-11-17 13:32] ArnauPrat commented on #21
Hi @whatsthecraic
Thanks for reporting this. This is indeed an error in Datagen. I'll add a test for it and fix the error.
Best,
Arnau

[2016-11-25 08:43] ArnauPrat commented on #21
I've fixed the bug and added a test for that. Changes are pushed to master branch.

[2016-11-25 08:43] #21 closed, assigned to nobody

[2016-11-25 08:46] ArnauPrat commented on #19
Although I understand your request, supporting modeling private messages between users is not a priority for the LDBC Social Network Benchmark right now. However, I can give you some guidelines though in modifying the generator to add this feature if you want.

[2016-11-25 08:48] ArnauPrat commented on #18
In principle the dependency was removed.
Closing.

[2016-11-25 08:48] #18 closed, assigned to nobody

[2016-12-14 11:25] whatsthecraic opened #23 "params.ini might be overwritten"
Hi,
when using the provided run.sh script and running the program on a hadoop cluster, the execution immediately aborts due to configuration errors. The following messages are reported to the screen:

[code]

The issue originates from the existence of two files named params.ini, the one in the root folder and another in src/main/resources, eventually packaged inside the jar artifact. Looking at LD

[2016-12-15 10:31] #19 closed, assigned to nobody

[2016-12-15 11:37] ArnauPrat commented on #20
Hi @whatsthecraic

We've added a new type "Long String" with 256 characters long (specification is changed accordingly, in the source files. Changes will be visible in the next release). Additionally, I've updated Datagen to clamp strings that are larger than they should be. I've also added tests for that.
The changes have been pushed to master branch.

[2017-01-03 16:32] szarnyasg opened #24 "Broken link for workload generator"
The link for the **ldbc_socialnet_qgen** is broken in the [wiki](https://github.com/ldbc/ldbc_snb_datagen/wiki). Does the workload generator still exist as a separate component?

[2017-01-03 16:36] ArnauPrat commented on #24
Hi @szarnyasg

This ldbc_socialnet_qgen is something that is no longer used (from long time ago). I acutally didn't know about the page you linked. Currently, parameters for the queries (the workload) are generated by datagen project itsef, at the end of the data generation. These can be found at the substitution_parameters folder once the execution is finished.
Best,
Arnau

[2017-01-03 16:39] szarnyasg commented on #24
Hi @ArnauPrat

thanks for the immediate reply. I updated the wiki page on the [configuration](https://github.com/ldbc/ldbc_snb_datagen/wiki/Configuration/_history), please check if my changes are correct. I removed the outdated shell script, which did not work - it even failed on the Maven tests with the following error:

[code]

Running the `run.sh` in the repository works better, but also fails

[2017-01-03 16:55] szarnyasg commented on #24
Okay, I scrolled back a bit and it seems it runs out of memory: https://gist.github.com/szarnyasg/ec4d4821df6840d62f41ddb459bf57d8#file-gistfile1-txt-L2426

[2017-01-03 17:03] ArnauPrat commented on #24
You probably need to increase your heap size by adding the proper java option to HADOOP_OPTS variable. You can do this in the run.sh or in hadoop_env.sh file under /etc/hadoop.
Hope this helps.

PD: Sorry about the faulty error reporting. This is something that must be definitely fixed. I have to figure out how to capture the exceptions produced in workers and print the result in the master, witho

[2017-01-03 17:41] szarnyasg commented on #24
Thanks, running the following command resolved the memory issues:
[code]

[2017-01-03 17:42] ArnauPrat commented on #24
Great!

[2017-02-09 17:03] #24 closed, assigned to nobody

[2017-02-10 06:51] javaprog opened #26 "Serialize generated data to multiple output formats"
For a complex query where we are not sure if the results are correct, we would like to be able to verify it against another system. If the system under test can only understand one output format of the data generator (e.g. RDF) and the verification system only supports another output format (e.g. CSV), we would have to convert the generated data. Howerver, it should be easier to simply stream the

[2017-03-15 15:05] whatsthecraic opened #27 "Making java 1.7 compatible"
Related to https://github.com/ldbc/ldbc_snb_datagen/commit/833868f7565d19c9e6ce9dc65febd963411d7f30, List#sort is still [Java 1.8](https://docs.oracle.com/javase/8/docs/api/java/util/List.html#sort-java.util.Comparator-). For some reason the error is not caught by the Java compiler, but I assure you a JVM based on 1.7 catches it strong & clear. Attached a tentative patch using Collections#sort
[di

[2017-03-21 10:23] szarnyasg opened #29 "How to generate update streams with dates as Strings"
I set the `dateFormatter` to the `StringDateFormatter` in the `params.ini` file.

[code]

The node/property/relationships are fine, but the `updateStream_*` files contain epoch times. Is there a way to work around this?

[2017-03-21 10:41] ArnauPrat commented on #29
It is not possible to change the format of update streams. Update streams are meant to be consumed only by the LDBC driver, which requires the time to be in epoch format for performance reasons.

[2017-03-21 10:53] szarnyasg commented on #29
Thanks for the quicky reply - that makes sense!

[2017-03-21 10:53] #29 closed, assigned to nobody

[2017-04-05 13:01] szarnyasg commented on #27
Thank you. I applied your patch in #28.

[2017-04-05 13:03] #27 closed, assigned to nobody

[2017-06-02 17:24] vandykai opened #31 "java.lang.Exception"
[code]

When I run run.sh, I got this message. What I only changed is HADOOP_HOME and LDBC_SNB_DATAGEN_HOME.

[2017-06-11 04:42] vandykai commented on #31
Add this in mapred-site.xml
[code]

you can also add this in yarn-site.xml
[code]

[2017-07-06 23:12] maverick-zhn opened #37 "Not a valid .JAR"
Dear all,

I found a minor bug. Since, the pom.xml includes:
"<version>0.2.7</version>"

When running ./run.sh -> **Not a valid .JAR: /path/ldbc_dnb_datagen-0.2.5-jar-with-dependencies.jar** will appear.

I will fix the .sh

Regards.

[2017-07-07 06:53] #37 closed, assigned to nobody

[2017-07-07 19:35] maverick-zhn commented on #31
I am getting a similar error when generating graphalytics.scale.10.

Any suggestion?

Thanks in advance.

[code]

[2017-07-07 19:39] ArnauPrat commented on #31
Do this happens with smaller scale factors? From my experience, this looks like the typical Hadoop job crash due to a lack of memory. Have you looked at Hadoop logs?

[2017-07-07 20:19] maverick-zhn commented on #31
Thanks for your fast reply. It worked with scale 1. I augmented the memory to 6GB. However, it fails for graphalytics-scale-10 and so on.

What is the recommended configuration to generate the larger scale factors synthetic datasets?

Yes, it is indeed a lack-of-memory problem.

Thank you in advance.

[2017-07-08 11:04] ArnauPrat commented on #31
Are you running hadoop on a cluster or a big machine, or in your laptop? Bear in mind that large scale factors are meant to be generated with beefy machines or clusters. How many threads are you executing the generator with?

[2017-08-29 02:18] pawanrawal opened #41 "Help with finding datagen version used for benchmarks"
This issue probably doesn't belong here but I would still appreciate if you could help me figure it out.

I am trying to replicate the benchmarks mentioned in this [paper](https://event.cwi.nl/grades/2017/12-Apaci.pdf). It uses the `ldbc_snb_datagen` to generate data for scale factors 3 and 10 and then loads them into various databases.

In particular, I am facing problems while loading data into

[2017-09-24 17:16] Prakhar0409 opened #43 "walkmod.xml is not present and causes NullPointerException"
After installing hadoop and executing run.sh, it fails with a NullPointerException.

ERROR [main] - /home/hadoop/ldbc_snb_datagen/walkmod.xml is invalid. Please, execute walkmod with -e to see the details

I am assuming that walkmod.xml is a configuration file which is absent. If not, maybe how to get around this can be a wiki/readme instruction

[2017-09-25 07:28] ArnauPrat commented on #43
Hi @Prakhar0409 ,
Could you please share a link or paste here the full output trace? I can't reproduce the error locally. Meanwhile, if you need to run the generator urgently, you can comment out the corresponding "walkmod-plugin" section in the pom.xml file.
Thanks
app

[2017-09-28 09:53] mpolonioli opened #44 "Error: java.lang.NullPointerException during "Serializing persons""
While executing the data generator with scale factor 1 on an hadoop cluster I'm getting this error during "Serializing persons" execution:

[code]

Someone have a possible solution? I can't figure it out by myself

Edit: I solved the problem adding the following configuration in the params.ini file:

[code]

I'm still able to run a benchmark with that configuration set to false? Maybe generating t

[2017-09-29 13:03] ArnauPrat commented on #44
Hi
Can you share your params.ini file? Also, is your hadoop cluster properly configured? How much memory are you assigning to mappers/reducers?

[2017-09-30 15:10] mpolonioli commented on #44
The memory parameters related to mappers/reducers:
[code]

param.ini file:
[code]

[2017-10-02 11:41] ArnauPrat commented on #44
I think you should try to increase the memory assigned to reducers and java heap for reducers. I'd recommend that the following inequality is met:
[code]
Hope this helps

[2017-10-06 02:46] LuisBosquez opened #45 "The specified bucket does not exist"
I'm trying to download some of the existing data sets and I used the following command:
`
$ aws s3 sync s3://ldbc-snb.s3.amazonaws.com/ .
`
But got the following error:
[code]

Are the files still hosted there?

[2017-10-07 22:48] mpolonioli commented on #44
It helped, I generated data with scale factor 1 to 100 without problems.

Thank you

[2017-10-09 10:52] ArnauPrat commented on #45
I have checked it, and the bucket exists. Probably you are getting an "access denied" error. This bucket is configured as "Requester pays" and thus annonymous access is not allowed. Do you have your credentials properly set?

[2017-10-12 01:23] szarnyasg opened #46 "Update substitution parameter generator"
The parameter generator should be updated in accordance with the latest specification and driver, see issues https://github.com/ldbc/ldbc_snb_docs/issues/70 and https://github.com/ldbc/ldbc_snb_driver/issues/77.

The main task now is to update the BI parameter generator: https://github.com/ldbc/ldbc_snb_datagen/blob/38045cb60b666fab3e39a4d2860e8f7af80c427f/paramgenerator/generateparamsbi.py

I alr

[2017-10-13 20:15] jdellithorpe commented on #45
I have the same problem. After configuring the aws cli per the instructions here:

http://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html

I get the same output as @LuisBosquez . Is there anything special that needs to be done to access the dataset? Region settings or something?

Best,
Jonathan

[2017-10-14 22:22] szarnyasg opened #48 "Tests locally delete generated files before terminating"
@ArnauPrat I observed some very strange phenomenon.

On Travis, the CSV files are generated, and also the substitution parameters are created.

However, when I run `mvn test` locally, by the time the tests finish, there are no files in `test_data` (just an empty directory). Even more interestingly, if I run the tests from IntelliJ, they work fine. I also tried running the tests from an `sh` shell

[2017-10-14 22:57] szarnyasg commented on #48
This definitely seems like an issue with ordering the tests -- if we get lucky, we get a good ordering and the results stay there. If we don't, they will be deleted.

[2017-10-14 23:17] szarnyasg commented on #48
Okay, I got it - if `PlaceDictionaryTest` runs second, it deletes the with the following invocation.

In essence, this is similar to a Heisenbug (but in the test execution). Obviously, you might say that we shouldn't rely on the tests producing SF1 models, but I do that on occasion -- for example, on Travis :-).

(Of course, we shouldn't rely on tests running in a particular order - that's definit

[2017-10-17 22:25] jdellithorpe commented on #45
After some fiddling around, I think I found the problem. The command should be:

`aws s3 ls ldbc-snb --request-payer`

The additional --request-payer option is required to send along the correct headers and generate the correct signature to indicate willingness to pay for access to the dataset (http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html).

[2017-10-18 23:29] jdellithorpe commented on #45
Turns out the --request-payer option was really only added to `s3api` and the `s3 ls` command, but not to other subcommands like `sync` for some reason (see https://github.com/aws/aws-cli/issues/797).

I posted a patch in that thread as a temporary workaround.

[2017-10-19 08:12] ArnauPrat commented on #45
Thanks @jdellithorpe for all your help. As I said by email, it turns out that I currently have my hadoop cluster out of service, and I don't know when it will be back again, and I need it to generate new datasets from the latest release that fixed several bugs. As soon as I have it back, I upload new and compressed data.

[2017-10-19 13:26] szarnyasg opened #49 "Rename packages"
Our current plan is to use the Interactive Datagen for BI as well. As everything is named `snb.interactive`, we should clarify this in the docs.

We could also rename it, but that'd break user's param files, etc.

[code]

[2017-10-20 00:11] szarnyasg commented on #48
In the meantime, I dug a bit deeper into this: so [`LDBCDatagenTest`](https://github.com/ldbc/ldbc_snb_datagen/blob/d3bd63b7cb0341d2f90ef78ab9f9eaa0a6e26ff8/src/test/java/ldbc/snb/datagen/test/LDBCDatagenTest.java#L26) uses the `test_params.ini` file to generate data to the `test_data` directory.

There is also a [`main`](https://github.com/ldbc/ldbc_snb_datagen/blob/d3bd63b7cb0341d2f90ef78ab9f9ea

[2017-10-20 00:31] szarnyasg commented on #49
So our conclusion is **not to rename these packages**, close this ticket and discuss this in the docs.

[2017-10-20 00:31] #49 closed, assigned to nobody

[2017-10-20 00:34] szarnyasg commented on #49
I added a note to the docs: https://github.com/ldbc/ldbc_snb_datagen/wiki/Compilation_Execution/_compare/450478104767174bfae80a1280c7619da670c6ff...55a48800fc83604972e4f91cd95a026733623ee1

[2017-10-25 22:18] jdellithorpe commented on #43
It appears that I have the same problem, here is the output trace:

[code]

[2017-10-26 09:33] ArnauPrat commented on #43
I don't understand why this happens, since as far as I know it is not mandatory to have a walkmod.xml to work. @rpau might help on this.
Meanwhile, you can go to pom.xml and comment out the walkmod plugin. It should work.

[2017-10-26 15:57] jdellithorpe commented on #43
Commenting it out worked.

[2017-10-28 16:07] szarnyasg commented on #48
@ArnauPrat what should we do about this?

[2017-10-30 19:27] szarnyasg opened #50 "Implement generator for BI query 3"
https://github.com/ldbc/ldbc_snb_datagen/blob/master/paramgenerator/generateparamsbi.py#L117

[2017-10-31 08:00] ArnauPrat commented on #50
Lol, I did not realize that this query did not have parameters XD

[2017-11-01 20:11] szarnyasg commented on #46
Created some solutions for all issues above, see PR #47.

[2017-11-01 20:13] szarnyasg commented on #50
Actually the generator was okay, but the serialization was missing: 615e48c9ac981c3ab77fcb267f4284409d2985ff

[2017-11-03 15:51] ArnauPrat opened #51 "Parameter generation is very slow"
According to reports by several users, for large datesets (eg. SF1000) the generation of parameters becomes the most expensive part of the generation process (90 minutes of generating data, 12 hours for generating the parameters). We should rethink its implementation (maybe porting it to a hadoop job).

[2017-11-13 20:07] szarnyasg opened #52 "Remarks on the Turtle serializer"
The prefix for tags is generated, but never used, even though it could be used.

[code]

Some prefixes are included multiple times -- this may cause some implementations to throw an error.

[code]

(Related ticket: #7, where the Turtle serializer was introduced.)

[2017-11-25 02:15] #50 closed, assigned to mkaufmann, szarnyasg

[2018-01-18 15:40] szarnyasg opened #56 "Merge keys for isSubclassOf"
As a followup of https://github.com/ldbc/ldbc_snb_docs/pull/114, we should merge the keys of `isSubclassOf` to `TagClass` for the merge foreign keys format.

[2018-01-18 15:41] szarnyasg opened #57 "Release v0.2.8"
We should bump the version and publish release before introducing the breaking changes required by #56.

[2018-01-18 17:08] ArnauPrat commented on #57
done

[2018-01-18 17:08] #57 closed, assigned to ArnauPrat

[2018-01-19 14:52] szarnyasg commented on #56
Fixed with #58.

[2018-01-19 14:52] #56 closed, assigned to ArnauPrat

[2018-01-24 21:33] szarnyasg opened #59 "PARAM_GENERATION seems deprecated"
@ArnauPrat I was maintaining the https://github.com/ldbc/ldbc_snb_datagen/wiki/Configuration wikipage that says:

However, I cannot find any instances of the `PARAM_GENERATION` string across LDBC projects.

[2018-01-29 09:34] szarnyasg opened #62 "Merge keys for hasType"
As a followup of https://github.com/ldbc/ldbc_snb_docs/pull/121, we should merge the keys of `hasType` to `Tag` for the merge foreign keys format.

[2018-01-29 11:25] #62 closed, assigned to nobody

[2018-01-29 11:25] szarnyasg commented on #62
Fixed with #63

[2018-02-10 16:24] szarnyasg opened #66 "Timezone for Turtle serializer"
With @antaljanosbenjamin we discovered that the Turtle generator uses GMT-2 (at least on our machines - even though Hungary is in GMT-1).

PR #65 addresses this. We are currently testing whether it resolves the issue.

[2018-02-11 20:43] #66 closed, assigned to szarnyasg

[2018-02-16 16:02] tristan957 opened #67 "Is hadoop a dependency of this project?"
I ran the program with the example .ini file and received the following error: run.sh: line 21: /home/user/hadoop-2.6.0/bin/hadoop: No such file or directory

No data was generated

[2018-02-16 16:05] szarnyasg commented on #67
Hi @tristan957, you have to provide your own installation of Hadoop 2.6. For detailed instructions, visit the [Configuration wiki page](https://github.com/ldbc/ldbc_snb_datagen/wiki/Configuration) of this repository.

[2018-02-16 16:05] tristan957 commented on #67
I actually just found that. I'm so dumb. Thank you

[2018-02-16 16:20] tristan957 commented on #67
I am experiencing a Java IOException error:
[code]
Run command: ```HADOOP_HOME=/Users/tristan.partin/Projects/ldbc_snb_datagen/hadoop-2.6.0/ LDBC_SNB_DATAGEN=/Users/tristan.partin/Desktop/ HADOOP_CLIENT_OPTS="-Xmx2G" JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_144.jdk/Contents/Home PARAM_GENERATION=false sh run.sh```

[2018-02-16 16:22] szarnyasg commented on #67
I've never seen anything like this before. I wonder where `/var/folders` comes from?

[2018-02-16 16:22] tristan957 commented on #67
I believe that is the default temp folder in MacOS

[2018-02-16 16:23] tristan957 commented on #67
I could try it on a Linux machine if you think that would help

[2018-02-16 16:27] tristan957 commented on #67
Or I could change the permissions of the folder

[2018-02-16 16:27] szarnyasg commented on #67
Both @ArnauPrat and I use Linux machines, so that's better tested. That said, Mac OS should be fine as well if you can write to `/var/folders`.

[2018-02-16 16:28] tristan957 commented on #67
permissions for folder are: drwxr-xr-x. Does that mean I don't have write access to folder?

[2018-02-16 16:28] szarnyasg commented on #67
Do a chmod/chown, whatever it takes :-).

[2018-02-16 16:32] tristan957 commented on #67
Unable to change the permissions on the folder. Currently its 755, so I think I have read write access. I'm going to grab my Linux machine and see if it'll work from there. Keep you posted

[2018-02-16 16:36] ArnauPrat commented on #67
I think that @alexaverbuch  has faced this same problem in the past. Is a Mac OSX only issue.
I cannot help.

[2018-02-16 16:40] tristan957 commented on #67
Just for documentation purposes: https://github.com/sozykin/mipr/issues/2 https://stackoverflow.com/questions/10522835/hadoop-java-io-ioexception-mkdirs-failed-to-create-some-path this sucks

[2018-02-16 17:51] tristan957 commented on #67
Finally got it to run, but no output files were generated. Using `LDBC_SNB_DATAGEN=/Users/tristan.partin/Desktop/`

[2018-02-16 17:53] szarnyasg commented on #67
Use the `LDBC_SNB_DATAGEN_HOME` var and set it to the root of this repository. For example, it's

[code]

[2018-02-16 17:55] tristan957 commented on #67
Had the wrong variable name. This has not been a good day. Thanks for dealing with my spam

[2018-03-12 14:20] #67 closed, assigned to nobody

[2018-03-12 14:23] szarnyasg opened #68 "Parameter generation does not work for large scale factors"
For example, queries 4 and 14 for SF 10 return empty parameters.

[2018-03-13 14:13] #68 closed, assigned to nobody

[2018-03-16 20:20] szarnyasg opened #69 "BI Q12 substitution parameters have a very high like threshold"
`400` is too high for smaller scale factors, and in any case, it should not be hardcoded in the generator.

https://github.com/ldbc/ldbc_snb_datagen/blob/b581cfb88f474c39d8d7391461c6eb1c5201bd14/paramgenerator/generateparamsbi.py#L180-L183

[2018-06-05 13:08] LarryLp opened #70 "no data found"
hi,I complied it with hadoop 2.7.3? I have already complied your project with hadoop2.7.3,and execute run.sh，it job seems to be worded,but I have got no data generated?where can I find it?

[2018-06-05 13:10] szarnyasg commented on #70
Hi @LarryLp, we support Hadoop 2.6.0. Can you try using this version or you need to use 2.7.3 for some reason?

Cheers

[2018-06-07 02:54] LarryLp commented on #70
@szarnyasg ok, thanks a lot! I will try it with Hadoop2.6.0, although I have only 2.7.3 presently.

[2018-06-07 20:45] #70 closed, assigned to nobody

[2018-08-11 04:10] zx1011240107 commented on #43
我有同样的问题，请问是怎么解决的呢？

[2018-08-11 08:31] szarnyasg commented on #43
@zx1011240107 Remove these lines from the `pom.xml` file:

https://github.com/ldbc/ldbc_snb_datagen/blob/b581cfb88f474c39d8d7391461c6eb1c5201bd14/pom.xml#L97-L113

[2018-08-12 04:02] zx1011240107 commented on #44
抱歉，第一次用这个，不会造数据，过程中也遇到这个问题，所以想问下
mapreduce.map.memory.mb: 2GB
mapreduce.map.java.opts.max.heap: 1536MB
mapreduce.reduce.memory.mb: 4GB
mapreduce.reduce.java.opts.max.heap: 1536MB
num_reducers
这些参数在哪个文件里面设置的

[2018-08-12 07:40] szarnyasg commented on #44
@zx1011240107 the configuration mostly depends on the size of the data you would like to generate.

Up to scale factor 10, you can generate data on most laptops. To do this, grab Hadoop 2.6.0, follow the [Setup Hadoop](https://github.com/ldbc/ldbc_snb_datagen/wiki/Configuration#setup-hadoop) section of the wiki.

If you would like to generate graphs of sizes which do not fit within a single machin

[2018-08-12 08:40] zx1011240107 commented on #44
我想要的总数据量大小大概为50M和5G和500G的数据，每个大小的数据一份。
之前我用的是默认的参数，就是想运行试试，结果出来上面的这个错；
我用这个ldbc.snb.datagen.generator.scaleFactor:snb.interactive.0.3
依旧报这个错；所以想知道应该修改什么，以及去哪里修改合适

[2018-08-12 09:06] szarnyasg commented on #44
@zx1011240107 to avoid the NullPointerException, just increase the available memory a bit. For example, the following should suffice:

[code]

[2018-08-12 10:10] zx1011240107 commented on #44
增加了export HADOOP_CLIENT_OPTS="-Xmx2G"，还是一样的空指针问题。。。
还能修改哪里呢？

[2018-08-12 10:32] szarnyasg commented on #44
Try
- adding more memory (e.g. `4G`)
- edit the `conf/mapred-site.xml` of your Hadoop distribution, see https://stackoverflow.com/a/8464123/3580502

Which OS are you using?

[2018-08-12 10:41] zx1011240107 commented on #44
用的是linux系统，我是在集群的一台机器上面操作的，上面的hadoop我没有配置过，所以不知道是不是hadoop没有配置好的原因

[2018-08-12 11:05] szarnyasg commented on #44
Make sure you use Hadoop version 2.6.0 and not a later distribution. Also check which JVM you are using.

[2018-08-12 11:14] zx1011240107 commented on #44
好的，目前使用的是hadoop2.7.2，我先试着换成2.6.0

[2018-08-16 13:43] #44 closed, assigned to nobody

[2018-10-10 18:40] jdellithorpe opened #74 "person_likes_* dataset files sorted oppositely from rest of edge files"
It appears that while all other dataset edge files are sorted by the SOURCE vertex for directed edges, the `person_likes_*` files are sorted by the DEST vertex.

For example, `person_hasInterest_tag` lists edges in groups by the SOURCE person:

[code]

However `person_likes_comment` files list edges in groups by the DEST comment:

[code]

While it's not technically a bug since edge ordering in the

[2018-10-12 08:11] #46 closed, assigned to nobody

[2018-10-20 18:07] szarnyasg opened #75 "Docker image"
There are many things to get right on a new systems for a simple data generation: installing Java and Hadoop, setting `JAVA_HOME` and `HADOOP_HOME`, while not forgetting about installing Maven and Python 2 (!).

We should really just make a Docker image out of this.

[2019-04-04 17:39] mingxiw commented on #51
we at tigergraph tried this data generation for SF-1000. It took 33+ hours. However, the problem is we could not find the parameter files under  ldbc_snb_data/substitution_parameters. Have anyone successfully generated the parameters for SF-1000?

[2019-04-04 17:55] ArnauPrat commented on #51
Can you look at the log files of parameter generation (parameters_bi.log and parameters_interactive.log). Any hint there?

[2019-04-04 20:55] CongyanLi01 commented on #51
Continued for the comment from TigerGraph above:
Here is the hint of these 2 logs:
For "parameters_bi.log":
 loading input for parameter generation
 Traceback (most recent call last):
  File "paramgenerator/generateparamsbi.py", line 410, in <module>
    sys.exit(main())
  File "paramgenerator/generateparamsbi.py", line 330, in main
    readfactors.load(personFactorFiles,activityFactorFiles, frien

[2019-04-08 08:04] ArnauPrat commented on #51
Parameter generation is implemented using a couple of python scripts, this is the reason it is so slow, because its execution is not parallelized in any way. Setting HADOOP_CLIENT_OPTS will have no effect on parameter generation.
The parameter generation scripts under the folder "paramgenerator", use as input files the "factor" files, which are produced by datagen. These factor files, namely mXact

[2019-04-14 15:42] szarnyasg commented on #59
It was removed in commit 2b303030ceda59daf4459e19896ef3dce3ed62be, and the last release where it was available was [v0.2.5](https://github.com/ldbc/ldbc_snb_datagen/releases/tag/v0.2.5). It was then reintroduced in the Java code (and not the `run.sh` shell script) in 5c8e26aa220f151b42c4b55a001c0609694e11fe, which was included from the next release, [v0.2.6](https://github.com/ldbc/ldbc_snb_datage

[2019-04-29 16:56] MohamedRagabAnas opened #79 "LDBC BI"
I read the documentation of the SNB data generator, but I didn't actually get the differnce between the workloads of interactive and BI. when to call the workload BI is it based on the scale factor ?

or in another way, how to generate a LDBC BI data set using the generator?

and where can I find the Queries of the interactive as BI workloads ?

Thank you for you help and support

[2019-04-29 17:02] szarnyasg commented on #79
Hi @MohamedRagabAnas,

the BI and Interactive workloads use the same data sets, see the [SNB Interactive and BI](https://github.com/ldbc/ldbc_snb_datagen/wiki/SNB-Interactive-and-BI) wiki page for details.

The queries are defined in the [specification](https://github.com/ldbc/ldbc_snb_docs) using both a textual description and a graphical illustration. We also provide [reference implementations](

[2019-04-29 19:00] MohamedRagabAnas commented on #79
Many Thank for your prompt reply!
I've generated the SNB dataset with small factor but I can't see the 'Message' and 'Forum' and other stuff needed forthe BI queries !
are these entities  related to the size generated (scale factor) or is there any parameters for generating them in the data ?
Thanks in advance for your reply !

[2019-04-29 19:05] szarnyasg commented on #79
If you use one of the `params*.ini` files (except for `params-graphalytics.ini`), they should generate the whole graph. The Forums are in the `forum_*.csv` file, Messages are in the `comment_*.csv` and `post_*.csv` files, etc.
See section 2.3.4 of the [spec](https://ldbc.github.io/ldbc_snb_docs_snapshot/ldbc-snb-specification.pdf) for details.

[2019-04-30 07:59] MohamedRagabAnas commented on #79
Yes, I have That's right, I've overlooked them !
Thank You very much :)

[2019-05-06 08:27] yaobaiwei opened #82 "Runtime Error in stage "Sorting update streams""
When i launched the program with Hadoop, reported the following error log:
[code]

I tracked into the code, and found that where the probelm is, starting from Line 185 in  LDBCDataGen.java:
[code]

I'm confused why it happened. why the intermediate files "/temp_updateStream_forum_" + i + "_" + j" were not generated successfully?

[2019-05-06 08:50] ArnauPrat commented on #82
Are you sure you don't have a previous error that made these files not to be generated? Also, please paste your params.ini file and run.sh file.
Thanks

[2019-05-06 10:28] yaobaiwei commented on #82
Yes, this is the first place that reported error. I directly used the default params.ini and run.sh without any changes. But I met the same error as Issue #23 said, so i fixed it by using the same approach, that is, to rename the params.ini in the root folder to params-gen.ini and modified the last parameter in run.sh to params-gen.ini accordingly.

[2019-05-06 10:32] ArnauPrat commented on #23
Thanks for finding this out. We will patch it.

[2019-05-06 10:32] ArnauPrat commented on #82
Great, we will try to fix issue #23 so this does not happen again.

[2019-05-18 08:31] szarnyasg opened #83 "Rewrite parameter generator in Julia"
I am currently learning Julia and will use it to take a stab at issue #51, i.e. I'll rewrite the parameter generator (currently implemented in Python 2) in Julia.

I understand that Julia is still a niche language, so users might not be able to trivially install it on their systems. To mitigate this, I'll update the Docker image to support Julia.

The current Docker image is based on Alpine Linux

[2019-05-18 12:08] #79 closed, assigned to nobody

[2019-05-19 07:23] szarnyasg commented on #41
Hello @pawanrawal, I am probably late to the party and I see that you've already received an answer at https://github.com/anilpacaci/graph-benchmarking/issues/18#issuecomment-326649888.
I'd just like to point out that we now maintain tables that contain the sizes of [SNB](https://github.com/ldbc/ldbc_snb_datagen/wiki/SNB-Interactive-and-BI) and [Graphalytics](https://github.com/ldbc/ldbc_snb_datag

[2019-05-19 07:23] #41 closed, assigned to nobody

[2019-05-19 07:23] szarnyasg commented on #75
This was resolved by @hegyibalint in #80

[2019-05-19 07:23] #75 closed, assigned to nobody

[2019-05-23 03:20] Light-City opened #85 "Why didn't I output the csv file?"
Hello,when I run the`./run.sh`,everything is ok.But my path not include the csv file.What Happen？
Thank you for your answer,hope you can help me.

[2019-06-21 11:56] frankmcsherry opened #86 "DateTime almost conforms to RFC3339"
The `DateTime` format in the docs (at the moment of submission) is
[code]
This *almost* conforms to [RFC3339](https://tools.ietf.org/html/rfc3339), which would require it to have a ':' between the hour and minutes of the timezone offset.
[code]
I have no clue if standards compliance is a goal, but it would have helped me a bit (Rust's datetime library uses RFC3339, and needed some debugging and su

[2019-06-22 08:00] szarnyasg commented on #86
Thanks for raising this issue, we'll consider it. If we make this change, it will require a bunch of adjustments in other repositories such as the [spec](https://github.com/ldbc/ldbc_snb_docs/blob/24b9d1ef9683a6fd6d7ddef3265a73d5bb2ae8c9/benchmark-specification.tex#L72) and the [reference implementations](https://github.com/ldbc/ldbc_snb_implementations/blob/e5ec590e0fb18d7f2a5218b10561a48a619a5bd

[2019-06-22 08:04] frankmcsherry commented on #86
Yup. It is probably pretty breaking for other users, so it's not obviously the right thing to do.

[2019-08-18 15:42] szarnyasg commented on #86
I investigated this a bit. It turns out that this can be configured using the `params.ini` file:

[code]

This gives us a chance to update the format and make it simple for users to fall back to the previous version.

A lesson learnt here: initially, I thought that the `XXX` modifier will do the trick, but apparently, [_if the offset value from GMT is 0, "Z" is produced."_](https://docs.oracle.com

[2019-09-02 16:34] #86 closed, assigned to nobody

[2019-09-11 08:19] ravibitsgoa commented on #37
Hi everyone,
I am getting this Not a valid .JAR: /path/ldbc_dnb_datagen-0.2.7-jar-with-dependencies.jar error.
Can anyone help me with this?

[2019-09-11 08:21] szarnyasg commented on #37
Hi @ravibitsgoa . Did you set the value of the `LDBC_SNB_DATAGEN_HOME` variable? What command do you run that gives the error above?

[2019-09-11 08:22] ravibitsgoa commented on #37
Yes, I did set LDBC_SNB_DATAGEN_HOME.
I got this error when running ./run.sh

[2019-09-11 08:23] szarnyasg commented on #37
`run.sh` start with the message: **Running generator with the following parameters: ...**
Can you share your parameters? E.g. mine are:
[code]

[2019-09-11 08:29] ravibitsgoa commented on #37
Yes, sure.
Mine are
LDBC_SNB_DATAGEN_HOME: /home/dreamlab/ldbc_snb_datagen
JAVA_HOME: /usr/lib/jvm/java-11-openjdk-amd64
HADOOP_HOME: /usr/local/hadoop
HADOOP_CLIENT_OPTS: -Xmx16G

[2019-09-11 08:33] szarnyasg commented on #37
Your params seem good to me. And I suppose you have checked out the latest `master` branch, which should have this fix.
Is using Docker an option for you? There are instructions in the README detailing how to use it.

[2019-09-11 08:38] ravibitsgoa commented on #37
Yes, I am using the latest master branch.
Sorry, I'm getting the same error, but with 0.2.7, not with 0.2.5.
Also, using Docker is not possible in my case.
I tried removing ldbc subdirectory of .m2 also, which did not work.

[2019-09-11 08:46] szarnyasg commented on #37
The `/path` part is suspicious. Try running the `run.sh` script with `bash -x ./run.sh` and investigate what happens on this line:

[code]

For me, it gives:

[code]

[2019-09-11 08:47] szarnyasg opened #88 "Detect OS X automatically"
`run.sh` has the following hack:

[code]

We should make sure that the script does this automatically. Sending a PR soon

cc @jackwaudby and @miratepuffin

[2019-09-11 08:50] ravibitsgoa commented on #37
I am getting this:
`+ /usr/local/hadoop/bin/hadoop jar /home/dreamlab/ldbc_snb_datagen/target/ldbc_snb_datagen-0.2.7-jar-with-dependencies.jar /home/dreamlab/ldbc_snb_datagen/params.ini`

[2019-09-11 08:52] ravibitsgoa commented on #37
Sorry for the inconvenience, the issue was with my local path only. Fixed.

[2019-09-11 08:52] szarnyasg commented on #37
Great! Glad it worked out.

[2019-09-13 15:58] PerFuchs opened #90 "Docker build error"
When I run the command `docker build . --tag ldbc/datagen`, as instructed in the README file, I get the following error. Is there anything you can do about this problem?

Sending build context to Docker daemon   1.68GB
Step 1/10 : FROM openjdk:8-jdk-alpine
 ---> a3562aa0b991
Step 2/10 : WORKDIR /opt
 ---> Using cache
 ---> 3dccf105f593
Step 3/10 : RUN apk add bash curl maven python
 ---> Running i

[2019-09-13 20:56] szarnyasg commented on #90
I deleted my Docker cache and this seems to be working now. Let us know if it works for you.

[2019-09-14 21:21] szarnyasg commented on #90
FYI, I merged #84 in the meantime which introduces Debian Stretch instead of Alpine Linux for the Docker image.

[2019-09-18 16:55] PerFuchs commented on #90
That solved the issue. Thanks a lot!

[2019-09-18 16:55] #90 closed, assigned to nobody

[2019-09-26 08:14] #88 closed, assigned to nobody

[2019-09-26 08:16] szarnyasg commented on #85
@Light-City Do you still face this problem? Please reopen this issue if you do.

We have improved the docs and the scripts a lot recently, so we hope it's easier to use now.

[2019-09-26 08:16] #85 closed, assigned to nobody

[2019-09-26 09:25] szarnyasg opened #91 "Microbatching"
* [x] Separate static and dynamic data
* [x] Refactor Serialisers and 'objects' (entities) to remove redundant code
* [ ] Add Timestamps to all edges which currently lack them based on source node
* [ ] Add hadoop job to sort each file based on time buckets

Bucket size not configurable here as files will be read in via drive still which will handle microbatching. This allows full batch, micro bat

[2019-09-26 09:26] szarnyasg opened #92 "Introduce deletions"
Start with Messages - the difficulty is leaf Comments < Comments < Posts.

[2019-09-26 12:52] szarnyasg opened #93 "Repository name"
It'd be better to call the repository as `ldbc_datagen` as it's being used for both the SNB and Graphalytics. This would break a couple of scripts though.

[2019-09-26 14:24] szarnyasg opened #95 "Rename 'invariant' to 'static'"
The word 'invariant' does not occur in the docs/paper, and we found 'static' to be more descriptive. It already fits with the current schema figure and the filename used for the RDF (Turtle) graphs.

[2019-09-27 11:08] szarnyasg opened #96 "Ensure that the refactoring operations don't change the generated output"
To check the output of SF1 and the default CSV settings (`params.ini` on `master` and `params-csv.ini` on `batching`):

[code]

[2019-09-27 15:37] szarnyasg opened #97 "Bump Hadoop version"
If you are to bump the Hadoop verison, you need to change it in a couple of places:

* `pom.xml`
* `README.md`
* `Dockerfile`
* `run.sh`
* `docker_run.sh`

Regarding the current version jumps:
* Bumping from 2.6.0 to 2.9.2 (latest of the 2.x versions) was simple and the resulting files are the same.
* Bumping from 2.9.2 to 3.2.1 (latest of the 3.x versions) was also simple but the file `social_net

[2019-09-27 16:06] szarnyasg commented on #45
Given that now there's a Docker image and most potential users have access to a machine that has enough resources to generate their graphs in a few hours, I propose that we should discontinue this until further notice.

[2019-09-27 16:06] #45 closed, assigned to nobody

[2019-09-27 16:20] szarnyasg commented on #20
This has indeed been fixed.

[2019-09-27 16:20] #20 closed, assigned to nobody

[2019-09-28 05:36] szarnyasg commented on #52
The relevant code bits are located in the `vocabulary` and `serializer` packages. There are multiple occurrences of redundant namespace initializations in the `Turtle*Serializer` classes:

[code]

These classes also have multiple invocations of `createTriple...` methods using parameters produced with the `fullprefixed` function (e.g. `SNTAG.fullPrefixed(topic)`). Removing these should resolve this

[2019-09-28 09:24] szarnyasg opened #99 "Check why BI parameters are different on different machines"
On my machine and the server:

[code]

In Docker:

[code]

Seems like a weird off-by-one error.

[2019-09-28 09:26] szarnyasg commented on #96
This works fine now in CI.

[2019-09-28 09:28] #95 closed, assigned to nobody

[2019-09-28 09:28] #23 closed, assigned to nobody

[2019-09-28 09:28] #96 closed, assigned to nobody

[2019-09-28 09:29] #59 closed, assigned to nobody

[2019-09-28 10:30] szarnyasg opened #100 "Rename some params*.ini files"
* params-csv.ini -> params-csv-basic.ini
* params-foreign-key.ini -> params-merge-foreign.ini
* params-composite-foreign-key.ini -> params-composite-merge-foreign.ini

[2019-09-28 11:45] szarnyasg opened #101 "Cleanup code base"
Remove cruft:

* [x] redundant generic types (e.g. `List<String> l = new ArrayList<String>`)
* [x] redundant types (e.g. `ArrayList<String> l = new ArrayList<String>`)
* [x] commented code
* [x] unused code - not all code shown by the IDE as unused is actually unused
* [x] header comments (`Created by`, `@author`)
* [x] remove `csv.xml` (we have no clue what it is)
* [x] organize/optimize imports

[2019-09-28 11:46] #31 closed, assigned to nobody

[2019-09-28 11:48] szarnyasg commented on #26
The idea proposed here to allow users to register multiple serializers so that we can skip multiple Hadoop runs. This would indeed be more efficient but this is not a serious limitation, therefore I'm closing this now as a wontfix.

[2019-09-28 11:48] #26 closed, assigned to nobody

[2019-09-28 13:53] szarnyasg opened #102 "Produce output files to HDFS"
The current version always copies the output files to the local file system. We should give an option that keeps them on HDFS.

[2019-09-29 08:31] szarnyasg opened #104 "Check whether sorting Person affects determinism on >SF1 data"
See https://github.com/ldbc/ldbc_snb_datagen/pull/103#issuecomment-536260645

[2019-10-02 09:08] szarnyasg commented on #101
Ticked off the more important ones - closing.

[2019-10-02 09:08] #101 closed, assigned to szarnyasg

[2019-10-02 09:09] szarnyasg commented on #100
Done in 48bbacd092135ec00105fff77d4582102d83bf23

[2019-10-02 09:09] #100 closed, assigned to szarnyasg

[2019-10-05 08:17] ravibitsgoa commented on #44
Hi @szarnyasg ,
I am trying to use LDBC on a Scale Factor 1, but on a cluster with Hadoop 3.1.1. I am unable to downgrade the version of Hadoop. Is there an easy way to run LDBC on a later Hadoop version?

[2019-10-05 08:37] szarnyasg commented on #44
@ravibitsgoa yes, it can be run quite easily on 3.x, see issue #97. As discussed there, the only difference we found for the SF1 data set is that in the `forum` update stream file, some rows with the same timestamp are generated in a different order. This is not a problem for 99% of the applications. So you can probably get your cluster working by simply bumping the Hadoop dependency version in th

[2019-10-17 13:02] benhamad opened #106 "The generated CSV header for interactive query 2, 9 doesn't match the specification"
In the LDCB specification, for the interactive queries 2 and 9 they need a `maxDate` parameter. Where the CSV header for the generated params files have `minDate` instead.

[code]

[2019-10-17 14:38] benhamad opened #107 "No parameter files are generated for the interactive-short queries"
No parameter files are generated for the interactive-short queries.And there is no documented strategy to generate them.

[2019-10-17 14:40] szarnyasg commented on #107
Hi, which environment are you using? If you have a strong single machine (even a beefy ultrabook), we suggest using the Docker image which should is the easily reproducible approach.

[2019-10-17 14:47] benhamad commented on #107
Hi @szarnyasg. Thanks for the quick response. I'm using a Docker container indeed. it does generate parameter files for BI and interactive-complex queries, but it doesn't for the short ones.
[code]

[2019-10-17 15:13] szarnyasg commented on #107
If I recall correctly, these are all the parameter files you need - i.e. there's no need to generate a set of short parameter files. The driver takes care of the parameter selection based on the update queries. This also implies that you need to run updates in order to use the short queries. Is this OK for your use case?

[2019-10-17 16:08] szarnyasg commented on #106
Good catch, thanks! The error is in the bottom part of this code snippet:

https://github.com/ldbc/ldbc_snb_datagen/blob/f466302f36f6527ac05bbe59b96c7c8ff2e3a838/paramgenerator/generateparams.py#L196-L240

I could not fix this in a couple of minutes of trying and will defer this to the Julia rewrite (#83) task.

[2019-10-17 16:11] szarnyasg commented on #106
Update: it seems I managed to resolve this with ad900890f0926601a191e52443aae42e8a14bb06.

[2019-10-17 17:31] benhamad commented on #107
But that suppose that I use the driver, which isn't my case. I have hard requirement to use another programming language (Julia ) other than Java in order to run the benchmark.
How exactly does the driver select the parameter?

[2019-10-17 18:30] szarnyasg commented on #107
In this case, you can run the benchmark on another database and get the 'validation parameters' file, which contains the parameters substituted for a given query.
For SF1, I've already generated this file: https://www.dropbox.com/s/4nereubmw3yzxkr/validation_params_sf1_all.csv?dl=0

To filter it for the short queries, run:

[code]

The resulting format should be relatively easy to parse from Julia

[2019-10-17 18:30] #106 closed, assigned to nobody

[2019-10-18 09:07] benhamad commented on #107
Thanks @szarnyasg I will try to run the benchmark on PostgreSQL and check the output. I probably can just run it once and include the result into my generated data.
closing the issue, I will reopen it if that doesn't work.

[2019-10-18 09:07] #107 closed, assigned to nobody

[2019-10-29 21:06] MohamedRagabAnas commented on #4
I have the same problem with generation the data of SF=30, I am  facing the same problem with GC  overhead limit exceeded !

* mapred-site.xml
[code]

* yarn-site.xml

[code]

I tried with the same values of @tomersagi , but I think that I have only 1 thread running .

@tomersagi  could you please tell me, how could you solved the GC error!
@ArnauPrat  your help will be totally appreciated !
Thank

[2019-10-29 21:10] MohamedRagabAnas opened #108 "GC Overhead Limit Exception Generating the data (SF=30)"
I have the a problem with generation the data of SF=30, I am  facing the same problem with GC  overhead limit exceeded !

* mapred-site.xml
[code]

* yarn-site.xml

[code]

[code]

Thanks in advance for your help

[2019-10-29 21:14] szarnyasg commented on #4
@MohamedRagabAnas the question mark here seems suspicious.
[code]

What's your setup? How many nodes are in your Hadoop cluster?

[2019-10-30 08:16] MohamedRagabAnas commented on #4
Hi @szarnyasg , sorry the question mark here was put by mistake,
I'm using a single machine centos with 256GB Ram .
Thanks in advance Gabour for your help

[2019-10-30 10:07] szarnyasg commented on #4
On a single machine, I usually use the `HADOOP_CLIENT_OPTS` environment variable. Before running the script, issue the following command:
[code]
Hope this helps.

[2019-11-03 19:46] #108 closed, assigned to nobody

[2019-11-03 22:16] szarnyasg commented on #108
@MohamedRagabAnas did you find a way to work around this issue?

[2019-11-04 06:42] MohamedRagabAnas commented on #108
@szarnyasg  yeah Gabour, Thanks to your reply, I tired with the 'HADOOP_CLIENT_OPTS' environment variable, and it worked for me

[2019-11-04 07:18] MohamedRagabAnas commented on #4
Thanks Gabour, this works for me :)

[2019-11-04 07:27] szarnyasg commented on #108
Great, glad it worked! See issue #4 for future reference.

[2019-11-13 11:43] thSoft opened #109 "ldbc/datagen:latest from Docker Hub fails to start"
Running datagen using the latest image from Docker Hub fails:

[code]

After building the image locally with `docker build . --tag ldbc/datagen`, the command succeeds.

[2019-11-14 03:11] corlin opened #110 "Running Error( java.io.FileNotFoundException: )"
When I init run the datagen ,it's get this errors ,how can i fix it ,thx

btw: compile is correcct

Exception in thread "main" java.io.FileNotFoundException: /var/folders/45/vb0nwkz54ksdr337q1hnp5gm0000gn/T/hadoop-unjar4721217962415496628/LICENSE (Is a directory)
	at java.io.FileOutputStream.open0(Native Method)
	at java.io.FileOutputStream.open(FileOutputStream.java:270)
	at java.io.FileOutputStr

[2019-11-14 06:25] szarnyasg commented on #110
Hello @corlin,
this used to be a problem on Mac OS that we thought we fixed, see: https://github.com/ldbc/ldbc_snb_datagen/blob/ad900890f0926601a191e52443aae42e8a14bb06/run.sh#L33-L35
Are you one a Mac and do these lines run on your machine?

[2019-11-14 11:16] jackwaudby commented on #110
Ran into the same problem, @szarnyasg those lines run on my Mac.

[2019-11-15 02:21] corlin commented on #110
@szarnyasg yes  i run on macos , this line is running correct not report error  ,like this
zip -d $LDBC_SNB_DATAGEN_HOME/target/ldbc_snb_datagen-0.4.0-SNAPSHOT-jar-with-dependencies.jar META-INF/LICENSE
deleting: META-INF/LICENSE

[2019-11-17 19:07] jackwaudby commented on #110
This issue arises in commit [24747f8](https://github.com/ldbc/ldbc_snb_datagen/commit/24747f855a46f599c6c97d3d5a89118f9bd6c503). Caused by the bump from Hadoop 2.6.0 to 2.9.2 in `pom.xml`.

[2019-11-19 00:33] szarnyasg commented on #109
Thanks! Fixed by #98

[2019-11-19 00:34] #109 closed, assigned to nobody

[2019-11-19 00:44] szarnyasg commented on #110
@corlin this should be fixed by switching to Hadoop 3.2.1, please check the latest version on `master`. Please reopen the issue if the problem persists.

[2019-11-19 09:58] szarnyasg commented on #92
Deletions are now accessible in the separate 'Interactive' document: https://ldbc.github.io/ldbc_snb_docs_snapshot/interactive-workload.pdf

[2019-11-19 10:09] szarnyasg commented on #104
Based on the results of 20 runs with SF10, the generator is still deterministic.

[2019-11-19 10:09] #104 closed, assigned to nobody

[2019-11-19 10:10] szarnyasg commented on #97
Resolved by #98

[2019-11-19 10:10] #97 closed, assigned to nobody

[2019-11-19 10:12] szarnyasg commented on #83
Since the generated parameters for BI queries have changed since switching to Hadoop 3.2. and parameter tuning comes at a later stage of benchmark design, we can take a bit more relaxed approach with this task: *Interactive* parameters should be same (or as close as possible) but *BI* parameters are subject to change.

[2019-11-19 10:31] szarnyasg commented on #82
#23 was fixed which caused this issue - I'm closing this as well.

[2019-11-19 10:34] szarnyasg commented on #43
This issue did not occur for the last year - closing, please reopen if required.

[2019-11-19 10:34] #43 closed, assigned to nobody

[2019-11-19 10:37] szarnyasg commented on #48
The Docker image made this issue deprecated, as users can now pretty easily generate data without setting up a Hadoop cluster. So closing this as it's not longer relevant.

[2019-11-19 10:37] #48 closed, assigned to szarnyasg, ArnauPrat

[2019-11-22 16:00] szarnyasg opened #112 "Output filenames"
The docs says that filenames are in the form of e.g. `comment_*.csv`, where

But filenames actually look like `comment_*_*.csv`.

[2019-11-24 17:36] #82 closed, assigned to nobody

[2019-12-02 22:31] thSoft commented on #109
Unfortunately, this still doesn't work for me since the ldbc/datagen image hasn't been updated, only ldbc/datagen-base:

[code]

[2019-12-03 12:25] miratepuffin commented on #109
Hi @thSoft, sorry this was my fault. The new image should be pushed now.

[2020-01-31 09:57] ubaid4j opened #113 "BUILD FAILURE"
**OS**: Ubuntu 18.04.3 LTS
**Java**: openjdk 11.0.6 2020-01-14

### How to Produce
1. cp params-csv-basic.ini params.ini
2. wget http://archive.apache.org/dist/hadoop/core/hadoop-3.2.1/hadoop-3.2.1.tar.gz
3. tar xf hadoop-3.2.1.tar.gz
4. export HADOOP_CLIENT_OPTS="-Xmx2G"
5. export HADOOP_HOME=`pwd`/hadoop-3.2.1
6. export LDBC_SNB_DATAGEN_HOME=`pwd`
7. ./run.sh

### Stack Trace

        SERVER ERR

[2020-02-04 08:38] szarnyasg commented on #113
The walkmod issue was fixed by 6eaf506a80d95ddf93d2523a989dbc1b6c882f9d.
Leaving this open for the Maven issue.

[2020-02-04 08:39] szarnyasg opened #115 "Use consistent naming"
E.g. rename User to Person.

[2020-02-04 08:57] szarnyasg opened #116 "Cleanup code"
* [x] Refactor internal classes with static content to regular classes
* [x] Eliminate `new String` calls
* [x] Rename occurrences of strings:
  * [x] `user` -> `person`
  * [x] `organization` -> `organisation`
  * [x] `numOfmonths` -> `numOfMonths`
* [x] `joinDate` -> `creationDate`
* [x] Refactor SNVOC @jackwaudby

[2020-02-04 16:02] ubaid4j commented on #113
Thanks, its working...

[2020-02-11 12:00] szarnyasg opened #118 "Re-throw/display underlying error messages"
Currently, the framework throws a `java.lang.Exception` with the actual exception hidden. It should provide more informative messages.

[2020-02-11 12:02] szarnyasg opened #119 "Merge output files on HDFS"
We should introduce a flag to allow users to merge CSV files and get them copied from HDFS to the local FS.

[2020-02-11 14:31] szarnyasg commented on #118
The simplest solution I found was to set up a logger and set its log level `WARN`. This is what the commit above prints when executed on a code that (intentionally) does a division by zero:

[code]

[2020-02-11 17:16] szarnyasg opened #121 "Add support for Parquet serializers"
[Parquet](https://parquet.apache.org/documentation/latest/) is a "compressed, efficient columnar data representation available to any project in the Hadoop ecosystem". We could put it to good use to reduce the space required by the outputs. It'd need be implement the same decompositions as the CSV files do, i.e. `basic`, `composite`, `merge-foreign`, and `composite-merge-foreign`.

[2020-02-11 23:00] szarnyasg commented on #118
For the record, this is what you get now if you run out of memory:

[code]

[2020-02-12 10:49] szarnyasg opened #122 "Allow users to register multiple serializers"
We should allow users to register multiple serializers so that generated data can be serialized in one go. Naturally, this gets more and more important for larger scale factors where the cost of running the generator machine(s) is substantial.

A possible syntax could be a comma-separated list of serializer classes.

[code]

Things to look out for:
* The entities will require separate directories:

[2020-02-12 10:59] szarnyasg opened #123 "Consistent spelling of filenames"
I introduced many changes with `file-name-using-dashes` instead of `using_underscores`. Time to use a consistent spelling policy: go for the underscore one. Also affects some configuration files such as `.travis.yml`.

[2020-02-12 21:45] #113 closed, assigned to nobody

[2020-02-25 07:51] coolerzxw opened #124 "Missing substitution parameters for BI when SF >= 30"
Hi, we want to run the BI workload at larger scales but found that the generated subsitution parameters are missing for some queries when SF is >= 30 (e.g. BI 4 and 9 for SF 100).

[2020-02-26 21:49] szarnyasg commented on #124
@coolerzxw regrettably, your observation is correct. I don't know a quick fix for this as we're currently revamping the benchmarking (getting rid of a few queries, introducing new ones and rewriting paramgen). In the meantime, feel free to use create your own substitution parameters by hacking the existing Python2 script.

[2020-03-17 09:05] thSoft opened #127 "Missing setting name in Configuration documentation"
In https://github.com/ldbc/ldbc_snb_datagen/wiki/Configuration#configuring-the-runsh-script, there is a line:

The setting's name is missing (``).

[2020-03-17 09:23] szarnyasg commented on #127
@thSoft thanks, I fixed the documentation and added that this is a deprecated feature. If you don't want to generate the parameters, your best option is to delete the `paramgenerator` directory. (The generator will print some error messages but the overall process will not fail.)

[2020-03-17 09:23] #127 closed, assigned to nobody

[2020-03-17 11:44] szarnyasg opened #128 "Temporal distribution of Posts and Comments"
Related code bits --

Posts are random - that's good:
https://github.com/ldbc/ldbc_snb_datagen/blob/9c0f6b04106ab9cd5da4f9eb39e0397116512936/src/main/java/ldbc/snb/datagen/generator/generators/postgenerators/PostGenerator.java#L139-L140

Comments use a random power-law function:
https://github.com/ldbc/ldbc_snb_datagen/blob/9c0f6b04106ab9cd5da4f9eb39e0397116512936/src/main/java/ldbc/snb/datagen/ge

[2020-03-19 14:56] jackwaudby commented on #128
Done some digging into the power-law distribution used by Comments. Comments always occur within 1 day of their parent message following the power-law distribution below

![comments_powerlaw](https://user-images.githubusercontent.com/33488812/77080556-53ab6e00-69f1-11ea-9f10-affc50fb0520.png)

The distributions shape parameter is set in `DatagenParams` to 0.4. The mean between is 6.85 hours.

FYI,

[2020-03-19 16:44] jackwaudby commented on #128
Can confirm Posts generation is uniformly distributed on the lifespan interval.

[2020-03-19 16:45] #128 closed, assigned to jackwaudby

[2020-03-19 22:47] jackwaudby opened #129 "Incorrect deletion dates for some posts"
Some Posts do not have valid deletion dates, see snippet below.
[code]

This seems to be because lifespan management has not been implemented for posts in flashmob events. Hence deletion dates are defaulting to `1970-01-01T00:00:00.000+00:00`.
https://github.com/ldbc/ldbc_snb_datagen/blob/87961c3bddfe0aba5d79f26f7cb613d5f48a3983/src/main/java/ldbc/snb/datagen/generator/generators/postgenerators/Fl

[2020-03-19 23:40] jackwaudby commented on #129
Posts during a flashmob event can be created between the maximum of:
-  message creator's forum membership creation date + delta

And the minimum of:
+ message creator's forum membership deletion date
+ simulation end

Posts during a flashmob event can be deleted between the post creation date plus delta and the minimum of:
+ message creator's forum membership deletion date
+ network collapse

Eac

[2020-03-19 23:43] #129 closed, assigned to jackwaudby

[2020-03-20 11:06] #118 closed, assigned to szarnyasg

[2020-03-20 11:06] szarnyasg commented on #99
Closed as wontfix, a new paramgen will be coming along soon.

[2020-03-20 11:06] #99 closed, assigned to szarnyasg

[2020-03-22 15:42] #116 closed, assigned to szarnyasg

[2020-04-07 13:40] dszakallas commented on #121
Not just a space, scanning Parquet has several optimizations. You can push down filters so the reader doesn't deserialize rows that would be eliminated by a later filter step (even discarding whole files by filename without opening a file stream, if it was partitioned by the filter predicate). Column projections can be pushed down too avoiding unnecessary column reads. Counting number of rows is i

[2020-04-07 15:24] FranciscoMonteiro694 opened #132 "How to load parameters"
Hey fellas!
First of all, i'm not sure if this is the right place to ask.
Me and my colleague are doing a project for university using this benchmark and we are struggling with a simple step.
We have the whole scenario set up and we also generated the parameters and we would like to know how can we load this parameters, in .txt format into our queries, without inserting them by hand. I'm not sure

[2020-04-07 19:07] szarnyasg commented on #132
Hi @FranciscoMonteiro694,

Sure, feel free to ask in LDBC repositories.

For handling parameters, you'll need the [driver](https://github.com/ldbc/ldbc_snb_driver) and the [implementations](https://github.com/ldbc/ldbc_snb_implementations) repository.

Can you provide some details on the nature of your experiments? (Targeted system, workload, etc.)

Also, it's worth keeping in mind that LDBC SNB c

[2020-04-08 15:48] FranciscoMonteiro694 commented on #132
First of all, thank you so much for your reply.
We are doing a simple experiment for a Data management class, and we are using Neo4j. Our goal in this milestone is to run the queries using the parameters generated.
We generated the parameters using generateparams.py, then we used build.sh and after that we tried running the interactive-create-validation-parameters.sh
We've tried to change the prop

[2020-04-08 18:35] szarnyasg commented on #132
Paramgen always generates the same number of parameter, this is something that currently cannot be tuned.
Paramgen currently is also rather slow - this is something we're looking in the near future. For the time being, I have the parameters pre-generated. E.g. SF1 is here: https://www.dropbox.com/s/iipb1412kh3szen/sf1.zip?dl=0
Which scale factors are you targeting?

[2020-04-08 23:14] PedroMarquesSa commented on #132
Hi, I'm working with @FranciscoMonteiro694 in this project
Thanks for the quick answer, we are striving to use an SF of 10 down the line but for now, we are using SF = 1
Our main doubt is the properties defined in the interactive-create-validation-parameters.properties... Some of them, we are not fully understanding... The operationcount is the max number of repetitions of all queries right?
Is it

[2020-04-13 01:35] jackwaudby commented on #132
Hey @PedroMarquesSa @FranciscoMonteiro694

_The operationcount is the max number of repetitions of all queries right?_
Thats what you'd expect but unfortunately its a little counter intuitive...

Complex reads are expressed in numbers of update operations that must execute per instance. E.g. For complex read 1, 26 updates must occur between each complex read 1. Short reads happen in sequences of r

[2020-04-16 19:02] jackwaudby opened #133 "forumHasModeratorPersonCheck and queryParamsTest in LdbcDatagenTest fail"
In `LdbcDatagenTest` on the `dev` branch `forumHasModeratorPersonCheck` and `queryParamsTest` fail.

This behaviour is expected given the changes we have made -- commented out for now.

[2020-04-18 06:01] francast95 opened #135 "Cannot run program "python" (in directory "."): error=2"
Hi I have a problem with python directory because the terminal delivery following code:

************************************************
* Serializing static graph  *
************************************************
44 total seconds
Person generation time: 5
University correlated edge generation time: 4
Interest correlated edge generation time: 4
Random correlated edge generation time: 4
Edges me

[2020-04-18 09:40] szarnyasg commented on #135
@francast95 Datagen requires Python 2. This is no longer part of major distributions so you need to install it with e.g. `sudo apt install python` (Ubuntu).

[2020-04-18 15:58] francast95 commented on #135
@szarnyasg yes I know but I have tried with python 2, 2.7, 3 and 3.6. Python 2 is in the same ways /usr/bin/python2 but I will try today and I tell you

[2020-04-18 16:01] szarnyasg commented on #135
You can also simply set the binary of the Python runtime using `ldbc.snb.datagen.parametergenerator.python`. For example, you could add

[code]

I've never tried this but it might do the trick on your system.

[2020-04-18 20:15] dszakallas opened #138 "Fix incorrect album filter"
https://github.com/ldbc/ldbc_snb_datagen/blob/4dfb2794c29b4f47bd344fcda1f6c3b8de69bbdb/src/main/java/ldbc/snb/datagen/generator/generators/PersonActivityGenerator.java#L212

should be `album == null`

[2020-04-19 01:30] francast95 commented on #135
@szarnyasg I worked with jdbc 0.3.2 openjdk 11, maven 3.6.1 and python 2.7.16 and it gives me the following:

[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  02:11 min
[INFO] Finished at: 2020-04-18T21:25:39-04:00
[INFO] --------------------------

[2020-04-19 10:56] szarnyasg commented on #135
I tried this on my Ubuntu 18.04. My `params.ini` looks as follows:

[code]

I ran v0.3.2:

[code]

This completed successfully and put the generated parameters under `substitution_parameters`.

[2020-04-19 17:19] francast95 commented on #135
I am working with the following environment features:

ubuntu 19.10
python 2.7.16
maven 3.6.1
java openjdk 11.0.6 and java openjdk 8
hadoop 3.2.1
ldbc_snb_datagen-0.3.2

The followers environment variables:

export JAVA_HOME = /usr/lib/jvm/java-8-openjdk-amd64
export HADOOP_CLIENT_OPTS= -Xmx2G
export LDBC_SNB_DATAGEN_HOME=/home/fco/ldbc_snb_datagen-0.3.2
export HADOOP_HOME=/home/fco/hadoop-3.2.1

[2020-04-19 17:32] szarnyasg commented on #135
The problem seems to be that `python2` is not on your path. If you just type `python2` in a terminal, does it work? If it does, you can use `which python2`. This returns `/usr/bin/python2` for me that can be used in the configuration:
[code]

[2020-04-19 17:40] francast95 commented on #135
sorry also I noticed that the output folder has the social_network folder and there are the static and dynamic folders where if they have the data, then the error that it throws from python is only at the end of the process.

[2020-04-19 17:50] szarnyasg commented on #135
That's what I'd expect. The question is, do you need the substitution parameters?

[2020-04-20 04:38] francast95 commented on #135
Ok problem solved with python2 installation

[2020-04-20 06:33] szarnyasg commented on #135
Cool!

[2020-04-20 06:33] #135 closed, assigned to nobody

[2020-04-21 00:58] jackwaudby opened #139 "deleteStream_0_0_person.csv not being serialized"
On the `dev` branch `deleteStream_person.csv` is not being serialized in `social_network.`

This seems to be a problem with the `isExplicitlyDeleted` parameter in the `Person` class not being written out to the temporary files before serialization.

[2020-04-21 01:15] jackwaudby commented on #139
Fixed in af871b1782e4a4bd15f70bba30b0127bf9a1fda7

[2020-04-21 01:15] #139 closed, assigned to jackwaudby

[2020-04-21 01:32] jackwaudby commented on #138
Fixed in 0866246dbb7c1d77848df00fe3c13d4fd12e2438

Note: this is a bit of a hack for when there is not a valid interval to generate an album in.  Definitely a better way to handle such a scenario.

[2020-04-21 01:32] #138 closed, assigned to jackwaudby

[2020-04-22 20:49] jackwaudby opened #143 "Remove ldbc.snb.datagen prefix for scale factor parameter"
drop `ldbc.snb.datagen` from `ldbc.snb.datagen.generator.scaleFactor`

this needs to be reflected in the `params-*.ini` files

[2020-04-23 17:53] jackwaudby commented on #143
fixed in 122a9f5

[2020-04-23 17:53] #143 closed, assigned to jackwaudby

[2020-04-23 21:16] jackwaudby opened #145 "Adding another test scale factor"
Add a smaller scale factor for testing.

`SF0.1` has 1700 persons. A size of 50 persons was discussed - how about we call it `SF0.05`

What do you think @szarnyasg ?

[2020-04-23 21:19] szarnyasg commented on #145
In the composite variant, [this data set](https://github.com/ldbc/ldbc_snb_implementations/tree/dev/cypher/test-data/raw) is 2984 kbytes. So in theory, we could call it `SF0.003` (SF triple-oh-three?). What do you think?

[2020-04-23 21:22] jackwaudby commented on #145
Works for me. I believe it just needs adding to `scale_factors.xml`. I will open a PR

[2020-04-24 13:58] #145 closed, assigned to nobody

[2020-04-25 04:05] francast95 opened #148 "Issue timeout hadoop datagen"
Hi I have issue with timeout in datagen, this is the error:

![image](https://user-images.githubusercontent.com/44240684/80270577-500da580-8687-11ea-9f91-5d79eb08a982.png)

I have reading in troubleshooting and I saw this:

![image](https://user-images.githubusercontent.com/44240684/80270637-dcb86380-8687-11ea-872f-408ae6794449.png)

But I don't know in which hadoop file should I put that code

@s

[2020-04-25 07:28] szarnyasg commented on #148
@francast95 it belongs to the `mapred-site.xml` file. I updated the wiki with this information. See also the https://github.com/ldbc/ldbc_snb_datagen/wiki/Configuration site.

[2020-04-25 14:34] szarnyasg opened #149 "Some KnowsGenerator classes have been removed"
To keep the migration process as simple as possible, we have removed some `KnowsGenerator` implementations in #147 that are not used by default:

* `DistanceKnowsGenerator`
* `ClusteringKnowsGenerator`
* `BterKnowsGenerator`

Once we're done with the migration, we should either put these back in or delete them from the documentation (e.g. the Datagen wiki).

[2020-04-25 15:39] francast95 commented on #148
@szarnyasg Ok. What does the following address refer to?

![image](https://user-images.githubusercontent.com/44240684/80283951-59c7f500-86e9-11ea-87dc-d9385bc3bcd2.png)

[2020-04-25 15:40] szarnyasg opened #151 "Adjustments needed for hasMember edges"
* [x] Forum-hasMember-Person should not serialize `category` (/type)
* [x] Forum-hasMember-Person should not serialize `deletionDate` for Interactive

[2020-04-25 15:41] szarnyasg commented on #148
You only need to set this up if you require YARN for your Hadoop setup. It's likely that you don't need it, so I'd recommend following the instructions here: https://hadoop.apache.org/docs/r3.2.1/hadoop-project-dist/hadoop-common/SingleCluster.html

[2020-04-25 15:48] francast95 commented on #148
Last night I left running the datagen to create 100 gb of data and it reaches to generate only the dynamic folder in snb_implementions and it throws me what appears in the following images

![image](https://user-images.githubusercontent.com/44240684/80284058-07d39f00-86ea-11ea-8715-3f0f5c00a0f5.png)
![image](https://user-images.githubusercontent.com/44240684/80284069-14f08e00-86ea-11ea-8040-c5370c

[2020-04-25 15:52] szarnyasg commented on #148
@francast95 your Hadoop temp directory probably ran out of space, see https://github.com/ldbc/ldbc_snb_datagen/wiki/Troubleshooting#javaioioexception-no-space-left-on-device

Btw, is your thesis work actually generating the data sets or you plan to use them for subsequent tasks? We are aware that Datagen is not easy to set up & run, so I can simply send you links to the data sets in an email if ne

[2020-04-25 15:53] szarnyasg opened #152 "Cleanup params files"
Graphalytics and Turtle parameter files are no longer supported so we should delete them.

[2020-04-25 15:58] szarnyasg commented on #93
Decision: we're sticking with `ldbc_snb_datagen` for the time being.

[2020-04-25 15:58] #93 closed, assigned to szarnyasg

[2020-04-25 15:59] francast95 commented on #148
I only need to have sample data to apply my optimization strategies that have already been tested in a 1 GB workload, it is only to check and take statistics that support that my optimization strategies work, in that case of course if you can send me two 10 and 100 gb workloads of the datagen version 0.3.2 by google drive would be perfect and i would really appreciate it

[2020-04-25 16:19] szarnyasg commented on #148
Sure, drop me a line at `szarnyas@db.bme.hu`

[2020-04-25 16:23] #148 closed, assigned to nobody

[2020-04-25 22:19] szarnyasg opened #156 "Make Maven output's less verbose"
Use the `-ntp` switch. This is rather new, only introduced in 3.6.1 and did not yet make it into 18.04 or Buster.

* [ ] Dockerfile
* [ ] Travis

The openJDK Alpine image is also stuck at 3.6.0.

[code]

[2020-04-25 22:54] szarnyasg opened #157 "Update Docker image"
* [ ] Bump base image to openJDK Buster. Still only has Maven 3.6.0 which lacks the ntp switch #156
* [ ] Update the pom.xml with Scala dependencies for Spark.

[2020-04-26 02:25] xiafangxc opened #158 "HadoopPersonSortAndSerializer.run fails with IOException"
[code]
_____________________________________________________
After that, I tried Debug pattern; I found it threw an Exception when execute
 `Job job = Job.getInstance(conf, "Person Serializer");`
`Method threw 'java.lang.IllegalStateException' exception. Cannot evaluate org.apache.hadoop.mapreduce.Job.toString()`
![screenshot_20200426102308](https://user-images.githubusercontent.com/54089515/80295

[2020-04-26 06:52] xiafangxc commented on #158
Can I run it on windows?

[2020-04-26 08:38] szarnyasg commented on #158
@xiafangxc Windows is currently not supported. Can you use Docker? That should work fine and is our recommended approach for generating small & medium data sets.

[2020-04-26 09:27] szarnyasg commented on #110
@jackwaudby reported that this popped up again.

[2020-04-26 10:09] #110 closed, assigned to nobody

[2020-04-26 13:53] #152 closed, assigned to szarnyasg

[2020-04-26 18:10] szarnyasg opened #164 "Replace SimpleDateFormat with DateTimeFormatter"
See also https://github.com/ldbc/ldbc_snb_implementations/pull/117.

[2020-04-27 00:26] #164 closed, assigned to szarnyasg

[2020-04-27 03:54] xiafangxc commented on #158
@szarnyasg OK . I'll try it later. Thank you~

[2020-04-30 14:28] dszakallas opened #173 "Person generation is flaky on Spark"
Running Spark with `numThreads` anything above `1` seems to give non-deterministic results. However this is not happening with the Hadoop version.

[2020-05-01 21:16] arunram85 opened #175 "substitution_parameters are not generated"
The script "run.sh" completes successfully  and also  outputs "Running Parameter Generation" at  the end but the substitution_parameters are not getting generated. The "params.ini" is same as " params-csv-basic.ini"

[2020-05-01 21:19] szarnyasg commented on #175
Hello @arunram85,

for most use cases, I'd recommend switch over to the `stable` branch which is the stable version.
`dev` is under major refactoring (migrating from Hadoop to Spark) so it's expected to have a few hiccups.

Gabor

[2020-05-02 11:52] arunram85 commented on #175
Okay.. but I see that in dev branch the generated data-set is different. For example
1) There are new files like person_email_emailaddress.csv and person_speaks_language.csv
2) The fields /columns positions are changed and in few files, new columns are added. It looks like, these changes are inline with dev(default branch) of https://github.com/ldbc/ldbc_snb_implementations.  So do is need to fall

[2020-05-02 12:04] szarnyasg commented on #175
Yes, that's what I'd recommend. Unless you want to use the delete generator (which we're still actively working on), the `master` branch is your best bet for all use cases.

[2020-05-02 12:27] jackwaudby commented on #92
### Progress update

1. [x] Defined [8 delete operations](https://ldbc.github.io/ldbc_snb_docs_snapshot/interactive-workload.pdf)
2. [x] Each dynamic entity has a _lifespan_, comprised of attributes _creation date_ and _deletion date_. For each dynamic entity we defined the interval in which lifespan attributes can be selected. Each attribute is then sampled uniformly from its interval.

**We now

[2020-05-02 12:40] jackwaudby opened #176 "Generating correct output for Interactive and BI workloads"
Both workloads comprise of a _bulkload_ component and an _update_ component. The desired output for each workload is given below.

### Interactive Workload
Select workload and number of concurrent update streams in `params.ini`:
`generator.mode:interactive`
`generator.mode.interactive.numUpdateStreams:X`

**Desired output:**
- Bulkload data in `social_network/`
- `updateStreams_1.csv` ...` updateS

[2020-05-02 12:43] jackwaudby commented on #91
Closing this issue and moving the discussion to #176

[2020-05-02 12:43] #91 closed, assigned to szarnyasg, miratepuffin, jackwaudby

[2020-05-02 13:03] jackwaudby commented on #176
#### Approach for turning entity lifespans #92 to bulkload component and update stream/batches component

Important simulation dates:
- `SS` = simulation start
- `BLT` = bulkload threshold
- `SE` = simulation end

Each entity has:
 - creation date `cd`
- deletion date `dd`
- explicit deletion flag `df`,  indicating the entity has been explicitly deleted during the simulation period.

Data generati

[2020-05-02 16:34] szarnyasg commented on #92
Flag deletes as **explicit** (everything else is **implicit** caused by a **cascading deletion**).

Requires multiple rounds of simulation, e.g. start by deleting Persons, check the number of _implicit deletes_ caused, determine how many Forums, Posts/Comments need to be deleted, etc.

[2020-05-02 16:59] szarnyasg commented on #176
N.b. only deletions are cascading, "cascading inserts" do not exist.

[2020-05-04 15:18] PedroMarquesSa commented on #132
Hi @jackwaudby

Thanks for the extended answer, we have been working on other assignments and it's only now that we managed to come back to this project.
We understand that the way that the driver works is to optimize the number of operations needed, so it has its order right? We are still getting into it, to better understand the workflow and we were wondering for example, given ```operation_coun

[2020-05-04 15:37] jackwaudby commented on #132
Hi @PedroMarquesSa

At a high-level a benchmark workflow goes like this, I'm assuming you want to implement the SNB interactive workload:
1. [implement your database connector](https://github.com/ldbc/ldbc_snb_driver/wiki/Implementing-a-Database-Connector)
2. generate the benchmark data using the data generator. (`social_network`, `substitution_parameters`, `updateStreams`)
3. validate your databa

[2020-05-04 23:32] PedroMarquesSa commented on #132
Hey @jackwaudby

We've configurated the driver in order to run with ```operation_count=750``` but we realized that not all queries were performed... is there a known minimum value for ```operation_count```in order to run all complex queries?

Thanks once again for the explanation

Pedro Sá

[2020-05-04 23:36] jackwaudby commented on #132
Which specific queries are not being performed?

One possibility is that not all queries are enabled in the `.properties` file you supply to the driver.

Can you verify` ldbc.snb.interactive.<op>_enable=true` for all operation types?

Jack

[2020-05-04 23:38] jackwaudby commented on #132
Also;

- Which reference implementation did you use to generate the `validation_params.csv`?
- Are you using the `master` branches for both the driver and reference implementations?

[2020-05-05 01:24] jackwaudby commented on #133
Some thoughts on dealing with the `forumHasModeratorPerson` edge.

**Constraint: a forum must always have a single moderator.**

In the defined delete queries there is no `removeHasModerator` query. This edge is only ever cascading-ly deleted by _**delete 1**_: remove person or **_delete 4:_** remove forum. The considerations are different for each forum type.

`Walls`: the `hasModerator` edge is

[2020-05-05 10:07] PedroMarquesSa commented on #132
We checked that before and all queries are set to ```true```
It was running with ```operation count = 750```and it didn't perform 3,5,6 and 9

We have the cypher and yes, we are using the master but it's not up to date, it's from nearly a month ago when we started.
We didn't generate the validation_params this time, we were just experimenting to see whether all queries ran with operation count set

[2020-05-05 21:24] jackwaudby commented on #132
My confusion with your issue is arising from whether you are trying to run the validation phase as you mentioned `interactive-create-validation-parameters.properties` in an earlier comment or run the benchmark phase?

I've been through the benchmark workflow using the `cypher` implementation. If you let me know where we differ I should be able to help out more :)

1. Generated SF1 using datagen.
2

[2020-05-06 09:42] szarnyasg opened #178 "Docker permissions"
The current Docker image puts the output files in the mounted volume as the `root` user. It is possible (but non-trivial) to work around this problem, see e.g. http://www.inanzzz.com/index.php/post/q1rj/running-docker-container-with-a-non-root-user-and-fixing-shared-volume-permissions-with-dockerfile

[2020-05-08 04:59] whitewum opened #180 "[suggestion] add more properties to the edges/relationship"
I notice that the LDBC nodes/vertices' have many properties (e.g., Person, Message).

But the edge/relationship 's properties are rare (I can only find DateTime as property)

I think the number and size of the properties of edges will affect graph transversal speed.

Can you consider adding more properties to edges?

[2020-05-08 09:34] szarnyasg commented on #180
Hi @whitewum,

we don't plan to introduce substantial changes to the graph schema. Therefore, introducing edge properties is currently out of scope.
That said, we have recently introduced lifespan attributes (creation date and deletion date) for all dynamic edges. You could easily 'slice and dice' these attributes (e.g. `year` -> int32, `month` -> string, `isWeekend` -> boolean) to get some edge p

[2020-05-08 09:34] #180 closed, assigned to nobody

[2020-05-09 18:49] dszakallas opened #183 "Spark tests should work for multiple partitions"
Some tests have hard-coded partition ids so they won't work when we set numPartitions > 1

https://github.com/ldbc/ldbc_snb_datagen/blob/91e8bd93e354843839e71d4db70c49016350f45e/src/test/scala/ldbc/snb/datagen/spark/LdbcDatagenSparkRegressionTest.scala#L284

[2020-05-10 18:19] #173 closed, assigned to nobody

[2020-05-10 18:19] #183 closed, assigned to nobody

[2020-05-17 14:51] FranciscoMonteiro694 commented on #132
Hello guys.
Just wanted you to know that we finished our assignment. Hopefully we can get a good grade!
Thank you very much for the time you invested helping us :)
Best regards,
Francisco and Pedro!

[2020-05-17 14:51] #132 closed, assigned to jackwaudby

[2020-05-17 15:02] szarnyasg commented on #132
Fantastic! Glad we could help.

Stay safe,
The SNB task force

[2020-05-19 03:23] dutor opened #188 "ArrayIndexOutOfBoundsException thrown during datagen"
Here is the stacktrace
[code]

The _params.ini_ settings are:
[code]

The datagen is based on the _dev_ branch. If I set the scale factor to 100 or less, there is no such exception.

[2020-05-20 07:52] #188 closed, assigned to nobody

[2020-07-08 22:57] szarnyasg opened #198 "Add option to quote (some) CSV cells"
The new Neo4j import tool trims CSV cells:

https://neo4j.com/docs/operations-manual/current/tools/import/

This can be problematic for `Message` nodes which have a `content` ending with a space (e.g. `something `). These can cause validation failures.
The suggested workaround, i.e. quoting the data can be applied quite easily as Datagen does not use the quote character `"` in any of the generated

[2020-07-29 11:19] kubajal opened #200 "Run ldbc_snb_datagen on Windows"
Hi,
I am trying to run the LDBC data generator on Windows as a Linux container and can't get it working. I've recently installed Docker Desktop 2.3.0.4. ```docker --version``` returns 19.03.12.
I've downloaded the [latest release of ldbc_snb_datagen](https://github.com/ldbc/ldbc_snb_datagen/releases/tag/v0.3.3) just to get params.ini file examples (like [this one](https://github.com/ldbc/ldbc_snb_

[2020-08-03 22:06] szarnyasg commented on #200
Hi @kubajal, sorry for the delay, I was changing workplaces with Aug 1 so this went unnoticed...
Did you manage to resolve this in the meantime?
Also, did you try building the Docker image?

[2020-08-05 20:07] kubajal commented on #200
No, I have not resolved it so I changed to a Linux machine that has Hadoop installed on it and I used ldbc-datagen v0.2.8 on it and that works.

But coming back to Windows: I tried building it from Dockerfile like you suggested and this is the output (I'm using cmd.exe, note the Windows paths I'm using in `docker run [...]`):
[code]
I also noticed that after building, `ldbc_snb_datagen-0.3.3\param

[2020-08-05 20:10] szarnyasg commented on #200
Great that you got it working!

Definitely not. I had similar issues -- in my case, an empty directory instead of a JAR file -- when running on Linux, SELinux prevented the `target/` directory from being mounted. To work around this, I used:

[code]

But of course this is probably quite far from your problem on Windows.

[2020-08-13 17:58] l-hoang opened #201 "Missing parameter generation for LDBC SNB scale >= 300"
When generating scale 300 and 1000 data for the SNB benchmark, the parameters for the queries do not seem to be generated in the resulting output directory. The graph itself it generated just fine.

Here is my params file for scale 300 for example.

[code]

I am on the stable branch (e6213b52ea). Any idea what might be causing the issue? Any help would be greatly appreciated.

[2020-08-13 18:04] szarnyasg commented on #201
Hello @l-hoang,

What's your setup? The substitution parameter generator runs on a single machine, therefore if your setup uses many small machines, Hadoop (the graph generator) might work fine but the parameter generator might crash.

Fortunately, your problem can be worked around -- because the parameters are very slow to generate, I've uploaded them to my Dropbox, so you can just grab them:
htt

[2020-08-15 06:09] rainmaple opened #202 "dataset can be found in hdfs,but none flush to the disk"
`ldbc.snb.datagen.generator.scaleFactor:snb.interactive.1

ldbc.snb.datagen.serializer.dynamicActivitySerializer:ldbc.snb.datagen.serializer.snb.csv.dynamicserializer.activity.CsvMergeForeignDynamicActivitySerializer
ldbc.snb.datagen.serializer.dynamicPersonSerializer:ldbc.snb.datagen.serializer.snb.csv.dynamicserializer.person.CsvMergeForeignDynamicPersonSerializer
ldbc.snb.datagen.serializer.sta

[2020-08-15 12:30] szarnyasg commented on #202
@rainmaple are you using the `dev` or the `stable` branch? Which benchmark do you intend to implement?

Cheers,
Gabor

[2020-08-19 07:30] rainmaple commented on #202
The branch i choosed was the stable. I found the solution but still confuse with the problem. The hadoop version i used to run the benchmark is the 2.9.2. When i turn to 3.2.1, file in hdfs can be flushed to the disk successfully. Is this version of the hadoop mandatory?  Or you'd better add the bug info about the hadoop version log for the sake of scientific procedure.

[2020-08-19 12:51] szarnyasg commented on #202
@rainmaple I was unaware of this incompatibility, thanks for pointing it out. I added a note in the README of the `stable` branch that encourages users to use Hadoop v3.2.1.

[2020-08-19 12:51] #202 closed, assigned to nobody

[2020-08-21 16:16] kubajal opened #203 "Renaming generated columns"
Hi,
is there a way to configure column names in the generated .csv file _before_ actually generating the data? Imho column naming is currently quite unfortunate, e.g. `comment_replyOf_comment_0_0.csv` has two columns, both named `Comment.id` which causes problems when loading to a graph database or an analytics tool because the colum names are not unique. Additionally, It would probably be better

[2020-08-21 19:14] kubajal commented on #203
I looked into the code and as far as I can see [this is the relevant code for CSV column naming](https://github.com/ldbc/ldbc_snb_datagen/blob/dev/src/main/java/ldbc/snb/datagen/serializer/snb/csv/dynamicserializer/activity/CsvBasicDynamicActivitySerializer.java#L71) (I am not sure if that is the only relevant place). This code could probably be refactored so that it reads e.g. `columns.COMMENT_RE

[2020-08-23 11:16] szarnyasg commented on #203
@kubajal I agree that the default column names are not the best. In the Neo4j implementation, I just change the [headers](https://github.com/ldbc/ldbc_snb_implementations/blob/3f505b53650f16a4ac42cb565ccd0e5f7bee4861/cypher/scripts/headers.txt) with a [combination of `tail` and `cat`](https://github.com/ldbc/ldbc_snb_implementations/blob/dev/cypher/scripts/convert-csvs.sh#L13) (I've also tried `se

[2020-09-14 05:01] yuqin11 opened #204 "substitution_parameters is empty"
i do as example , but dir substitution_parameters is empty.
[code]

[2020-09-14 05:01] yuqin11 commented on #204
how to

[2020-09-14 14:10] szarnyasg commented on #204
@yuqin11 thanks for reporting this issue, I could reproduce it with your commands.

It seems the problem is that the Java framework does not call the substitution parameter generator Python scripts. For the time being, you can run them manually:

[code]

[2020-09-14 14:28] szarnyasg commented on #204
@yuqin11 it seems I managed to fix it by changing the Python interpreter. The problem was that it invoked the `python` binary which now binds to Python 3 on almost all systems (Ubuntu 18.04/20.04, new Fedora versions, etc.). Let me know whether the patch fixed the issue for you.

[2020-09-17 16:51] #200 closed, assigned to nobody

[2020-09-17 16:55] szarnyasg opened #205 "SELinux prevents Docker from working"
As I mentioned in #200:

I'm documenting the solution here.

[2020-09-17 16:55] szarnyasg commented on #205
To work around this, I used:

[code]

[2020-09-18 11:27] #205 closed, assigned to nobody

[2020-09-18 12:03] szarnyasg commented on #204
Closing this, for now, feel free to reopen if the problem persists.

[2020-09-18 12:03] #204 closed, assigned to nobody

[2020-09-18 18:10] szarnyasg commented on #178
This Go library seems to provide an elegant workaround which also works runtime: https://github.com/boxboat/fixuid

Example Dockerfile:

[code]

Build and mount the working directory:
[code]

[2020-09-18 18:29] #175 closed, assigned to nobody

[2020-09-18 18:30] szarnyasg commented on #156
This is more trouble than it's worth... closing.

[2020-09-18 18:30] #156 closed, assigned to nobody

[2020-09-18 18:30] szarnyasg commented on #157
We're using a different, `ubuntu:20.04`-based Docker image, closing this as wontfix.

[2020-09-18 18:30] #157 closed, assigned to nobody

[2020-09-18 18:31] szarnyasg commented on #201
Closing this due to the lack of activity. N.b. the substitution parameter generator on the `dev` branch is yet to be implemented.

[2020-09-18 18:31] #201 closed, assigned to nobody

[2020-09-18 18:32] #158 closed, assigned to nobody

[2020-09-18 18:32] szarnyasg commented on #119
This is deprecated since we've moved to Spark.

[2020-09-18 18:32] #119 closed, assigned to nobody

[2020-09-18 18:38] szarnyasg commented on #115
Affects:

[code]

[2020-09-18 18:43] szarnyasg opened #206 "Implement new parameter generator"
We need a parameter generator that is easy-to-tune and scales up to potentially SF100,000.

[2020-09-18 18:43] szarnyasg commented on #51
Closing this but the story continues in ~#206~ #83 .

[2020-09-18 18:43] #51 closed, assigned to szarnyasg

[2020-09-19 07:54] szarnyasg commented on #178
Alternative solutions:

* `gosu`: https://github.com/tianon/gosu, see [tutorial](http://www.inanzzz.com/index.php/post/dna6/unning-docker-container-with-a-non-root-user-and-fixing-shared-volume-permissions-with-gosu)
* `userns-remap`: requires the users to [change the Docker configuration](https://docs.docker.com/engine/security/userns-remap/#enable-userns-remap-on-the-daemon)
* A workaround using

[2020-09-21 08:56] yuqin11 commented on #204
it is still empty.

[2020-09-21 08:57] yuqin11 commented on #204
i changed default version.

[2020-09-21 08:59] yuqin11 commented on #204
(base) [root@VM_76_122_centos ~/ldbc_snb_datagen]# paramgenerator/generateparams.py hadoop substitution_parameters/
loading input for parameter generation

[2020-09-21 09:00] yuqin11 commented on #204
using this terminal would be blocked.

[2020-09-21 09:00] yuqin11 commented on #204
nothing happened.

[2020-09-21 09:24] szarnyasg commented on #204
Hi @yuqin11,

I've just re-run the script (based on your first post) and it generated the parameters. My machine is running Fedora 32 and my Python version is as follows:

[code]

It's entirely possible that your distribution does not have the `python2` binary by default, so please double check this.

[2020-09-21 09:32] yuqin11 commented on #204
is there any package i should include？ i'm sure i have right python version.

[2020-09-21 09:32] yuqin11 commented on #204
(base) [root@VM_76_122_centos ~/ldbc_snb_datagen]# python -V
Python 2.7.5

[2020-09-21 09:34] szarnyasg commented on #204
There are no extra Python packages required. What does `python2 -V` give?

[2020-09-21 09:34] yuqin11 commented on #204
is there new version i could clone again?
 maybe that will be more easier to solve this problem.

[2020-09-21 09:36] szarnyasg commented on #204
For the time being, I recommend going for the `stable` branch. Just do a `git pull` to make sure you have the latest commit, d6620b96555af9a1151b158251ae0de4a3fb6447.

[2020-09-21 09:37] yuqin11 commented on #204
does this commit . include Fixes #204?

[2020-09-21 09:39] szarnyasg commented on #204
Yes, see https://github.com/ldbc/ldbc_snb_datagen/issues/204#ref-commit-d6620b9.

[2020-09-21 09:40] yuqin11 commented on #204
ok ,  i will try this commit again.

[2020-09-21 11:44] yuqin11 commented on #204
problem solved.
1. change default python interpreter
2. pull latest code

[2020-09-21 11:44] yuqin11 commented on #204
thanks.

[2020-09-21 11:54] szarnyasg commented on #204
Great! Your welcome.

[2020-09-25 13:54] jackwaudby commented on #133
The proposed solution is to have different behaviour based on the workload.

For the _interactive_ workload the exactly 1 cardinality of the `hasModerator` edge is required, else, Short Read 6 could return a null result, which does not match LDBC's design philosophy. Thus, for the interactive workload Datagen must always produce update streams containing solely of insert operations, i.e., produces

[2020-09-26 16:14] szarnyasg commented on #133
As discussed during the meeting, the task force chose Option 3. Now we need to implement it properly.

The current version on `dev` generates dangling `hasModerator` edges, i.e. ones that point to `Person` nodes which do not exist in the network -- because they are deleted *before* the `Forum` is created

Running the generator in `rawdata` mode (with the `CsvComposite` serializer and SF0.1) reveal

[2020-09-27 09:53] kubajal opened #208 "Figure 2.1 does not match with the produced output"
Hi,
the field `type` in the entities: `Organisation` and `Place` is not included in Figure 2.1 (The LDBC SNB data schema) of [LDBC specification v0.3.2](https://github.com/ldbc/ldbc_snb_docs/releases/tag/v0.3.2).
In other words when I generate data using the LDBC data generator the field is there but it is not listed on the schema. That field is however listed on Figures 2.13, 2.14, 2.15 and 2.16

[2020-09-27 10:09] szarnyasg commented on #208
Hi @kubajal, good thanks, thanks for raising.

When serializing the graph to CSV, we perform a step similar to object-relational mapping, which involves mapping
inheritance hierarchies.

For Places, the generator uses the ["map hierarchy to a single table" ORM approach](http://agiledata.org/essays/mappingObjects.html#MapHierarchyToTable), which relies on using a [discriminator](https://www.visual-

[2020-09-27 11:30] kubajal commented on #208
Hi @szarnyasg,
that is a very good explanation. Those two examples for Places and Messages you gave show the crucial difference.
Yes, a short explanation somewhere in the document would be sufficient. I think that such a short note would help people with little knowledge of object-oriented modelling who look first at the schema in the specification and then look at the output of the generator.

[2020-09-27 20:24] szarnyasg commented on #208
Thanks, I opened a followup issue in the docs repository.

[2020-09-27 20:24] #208 closed, assigned to nobody

[2020-10-01 19:00] szarnyasg opened #209 "Cleanup out/ directory when generating new data"
Currently, the previous directory is left there.

[2020-10-01 19:19] szarnyasg commented on #203
I attempted to fix this with https://github.com/ldbc/ldbc_snb_datagen/pull/210/commits/d85069187be356a231ee5f9bcf6c0a11250d62cb. This affects the person-knows-person edges and the comment-reply-message (post|comment) edges.
@kubajal Let me know if you like the proposed header names.

[2020-10-01 19:24] szarnyasg commented on #123
Nah.

[2020-10-01 19:24] #123 closed, assigned to szarnyasg

[2020-10-01 19:47] szarnyasg commented on #74
This is an interesting problem. Serialization of the likes is first triggered in https://github.com/ldbc/ldbc_snb_datagen/blob/dev/src/main/java/ldbc/snb/datagen/serializer/PersonActivityExporter.java, which traverses the Messages in Walls/Albums and looks up the Persons who liked them. This causes the serialized "likes" entries to be grouped by their Messages. Changing the traversal order would r

[2020-10-01 19:47] #74 closed, assigned to nobody

[2020-10-01 21:15] #133 closed, assigned to jackwaudby

[2020-10-04 10:46] kubajal commented on #203
Hi @szarnyasg,
thanks for feedback. Yes, to me it does look ok - the column names are not duplicated.
But perhaps they could be even more meaningful? I was thinking of something like renaming
`Person1.id` and `Person2.id` in `CsvCompositeMergeForeignDynamicPersonSerializer.java` to `Person.source.id` and `Person.target.id`. As far as I see there is the assumption everywhere, that the left column i

[2020-10-04 20:07] szarnyasg commented on #203
For `Person-knows-Person`, I'd like to avoid `source` and `target` as users might associate those with a directed edge. Hence, I'd rather go for the non-descriptive `Person1.id`, `Person2.id` names.

[2020-10-08 12:55] szarnyasg commented on #176
Note that the current version on the `dev` branch generates no updates/refreshes at all.

[2020-10-08 15:18] jackwaudby commented on #176
Datagen v0.4.0 proposed design.

It will support 3 modes, each having different output.

1. **Interactive**, produces the data necessary for the interactive workload. Includes a set of bulk load csv files and a number of update streams, which contain only insert operations.
2. **BI**, produces the data necessary for the business intelligence workload. Includes a set of bulk load csv files and a nu

[2020-10-13 18:09] arvindshmicrosoft commented on #151
Thank you! I am running into (what I believe) is the same issue. To be clear, this is what I see:

[code]

Per your description, the last 2 columns in each row, should be ignored - correct?

[2020-10-13 18:15] szarnyasg commented on #151
Hello @arvindshmicrosoft are you on the latest `dev` branch? Which CSV serializer are you using?

With the `CsvBasic` serializer, the code on `dev` gave me:
[code]

[2020-10-13 19:09] arvindshmicrosoft commented on #151
Ah! I was using the Docker container. I guess that has not been updated. Per your suggestion, the current latest from `dev` did the job. I did find a minor issue related to the newly added code which uses clearspring, and have created #213 to address that.

In any case, I believe this current issue can be closed now. Thank you for your help!

[2020-10-13 19:18] #151 closed, assigned to nobody

[2020-10-14 09:41] #203 closed, assigned to szarnyasg

[2020-10-14 09:41] #115 closed, assigned to szarnyasg

[2020-10-14 11:06] szarnyasg commented on #176
Raw mode should imply that bulk portion is 100%.

[2020-10-14 22:53] jackwaudby commented on #176
After a quick experiment it seems `generator.mode:rawdata` already achieves this behaviour, with `generator.bulkLoadPortion` has no impact on the size of the generated data for this mode, which for SF1 weighs approx. 2.3GB.

As a sanity check I ran `generator.mode:interactive` which has a half-baked implementation of the algorithm in the above comment, i.e., its doing some filtering based on creat

[2020-10-16 06:56] szarnyasg opened #215 "Roadmap 2020"
* [x] introduce valid delete operations – done, see [GRADES-NDA paper](http://ldbcouncil.org/sites/default/files/datagen-deletions-grades-nda-2020.pdf)
* [x] migrate Datagen to Spark
* [x] tune the distribution of deletes (ongoing on the `tuning` branch, #235)
  * [x] once this is done, tune the scale factors
* [ ] rework paramgen (#83)
  * [ ] get it scale to SF1k+ for Interactive. As the paramet

[2020-10-16 19:54] szarnyasg opened #216 "Parameter generation for BI"
* The current parameter generator for BI uses uniform random sampling and not the more sophisticated parameter curation technique used by Interactive
* Deletes need to be taken into account, affecting both whether we can select a given node and the distributions across the graph

[2020-10-17 13:10] szarnyasg commented on #206
Duplicate of #83

[2020-10-17 13:10] #206 closed, assigned to nobody

[2020-10-17 13:23] szarnyasg opened #219 "Factor generation for Interactive"
Study the required Interactive factors:

https://github.com/ldbc/ldbc_snb_datagen_spark/blob/efbeb57ce6b3d2148f33acfadd9fdb0ddf11a54e/paramgenerator/readfactors.py#L6-L11

The meaning of the matrix:
[code]

[2020-10-17 14:30] szarnyasg opened #220 "Configuration parameters are overdetermined"
We currently have start/end year/month/day and also the number of years (`numYears`). The configuration files use `numYears` to specify the timespan, making the end year/month/day redundant. This leaves the possibility for some weird corner cases (such as 2020/02/29 + 3 years would lead to 2023/02/29, an invalid date) but these are unlikely to happen and will result in an exception quickly. So let

[2020-10-17 19:42] djnakabaale opened #221 "Question on date format in substitution params"
Hi,
I would like to get more context on the date format generated in the substitution parameters by the datagen.
First I would like reference issue #86. @szarnyasg mentions it can be configured in params.ini.
I have tried this and I am still getting the same formats.

I would like to generate a dataset for postgres and my params.ini looks like this:
[code]

here are the first 2 rows and 2 cols in

[2020-10-17 19:57] szarnyasg commented on #221
Hi @dmj2x,

I assume you are on the `stable` branch (with the Hadoop-based generator).

Based on the filename, this is your Postgres file, converted with the [script in the implementations repository](https://github.com/ldbc/ldbc_snb_implementations/blob/dev/postgres/load-scripts/load.sh).

After you have regenerated the CSV with Datagen, check the `comment_0_0.csv` file. If it looks good, convert

[2020-10-17 20:51] szarnyasg opened #222 "Incorrect offset in parameter generator"
To get the number of posts / month, the parameter generator script (in Python) selects attributes from a with `line[8:45]`:

https://github.com/ldbc/ldbc_snb_datagen/blob/5786eff90b5dda8bddec181527187053924067fe/paramgenerator/timeparameters.py#L150-L158

This is incorrect as `line[8]` holds the total number of reply comments (called `pr`, person's replies):

https://github.com/ldbc/ldbc_snb_datag

[2020-10-17 21:52] djnakabaale commented on #221
Hi @szarnyasg,

Thanks for getting back to me.
Just a minor not to your above response, I am using the stable branch and the docker image build. I'm not sure if that changes a thing. I am still working through conversion.

[2020-10-17 21:54] #220 closed, assigned to nobody

[2020-10-17 21:54] #222 closed, assigned to nobody

[2020-10-17 21:56] szarnyasg commented on #221
Yeah, those should be good. Let me know what you find.

[2020-10-18 07:01] szarnyasg opened #223 "Format for factor tables"
Factor tables for activities are currently dumped as a bunch of concatenated CSVs as a single file:
https://github.com/ldbc/ldbc_snb_datagen/blob/8c00a0382999ba02669b7c2cab08ee7f11902a87/paramgenerator/docs/factors.md

This is somewhat difficult to read, both for humans and for machines. It would be much nicer to have 5 separate regular CSV files.

While the factor files `activityFactors.txt` and

[2020-10-19 17:13] djnakabaale commented on #221
`TZ=GMT date -u -j -r $((dateVal/1000)) '+%Y-%m-%d %H:%M:%S.%S'` However this command generates dates without actual time with time as 00:00:00.00.

My question is, how is the conversion handled in the implementations to generate dates with actual (differing) times?

[2020-10-19 18:49] szarnyasg commented on #221
I'm not sure what you mean exactly. Can you please clarify?

When using the substitution parameters, we turn them to a datetimes string (which can be substituted in the Postgres query) using Java 8's datetime library:

[code]

These methods are used in the `QueryStore` class and its subclasses such as `PostgresQueryStore`:

https://github.com/ldbc/ldbc_snb_implementations/blob/e9cf1bf8018e44141706

[2020-10-19 19:50] szarnyasg commented on #221
In Interactive, it is guaranteed that there's always an output of the query. (This is also a design goal in BI but that might have more bugs.)

Interactive [Q2](https://ldbc.github.io/ldbc_snb_docs_snapshot/interactive-complex-read-02.pdf) prescribes `creationDate < $maxDate` not equivalence. In your SQL query, try `m_creationDate::text < :maxDate`. Lexicographical ordering [works for e.g. ISO 860

[2020-10-21 21:57] arvindshmicrosoft opened #224 "Parameter generation failed with UnicodeDecodeError"
I was running the version from Oct 17 (commit hash 4488231e41339c0fac42d622cbd60ca32844c786) and encountered the below exception:
[code]
This was with SF 10000. From some quick debugging that I did, it looks like we need to specify the encoding in the call to `f.open()`. Failure to do so seems to cause Python 3 to wrongly think the encoding of the person factor files is `ANSI_X3.4-1968`, which is

[2020-10-23 07:04] djnakabaale commented on #221
Thanks @szarnyasg! I found the issue, it was in my script.

[2020-10-23 07:04] #221 closed, assigned to nobody

[2020-10-24 11:24] szarnyasg opened #225 "Month are off-by-one in paramgen"
E.g. in BI Q3 (old numbering, new is Q2), the months are off by -1 when running a code in a local time zone of e.g. CET/CEST. The reason behind this is that they are converted from their epoch value using `mktime` which uses the local time instead of UTC:

[code]
[code]

The fix is to use `calendar.timegm` which uses UTC:
[code]
[code]

[2020-10-24 19:51] szarnyasg opened #226 "Docker improvements"
* Continuous deployment to Docker Hub.
* Users should not be required to recompile the Docker image to adjust the available maximum memory in the `CMD`.
* See also issue #178 on permissions.

[2020-10-27 10:52] szarnyasg opened #227 "Refactoring and optimizations"
* Improve Docker support, see #226
* Drop old Hadoop classes
* Use data frames during generation
  * This should make serialization more or less trivial
* Serializers
  * ~Parquet serializer~
  * ~RDF/Turtle serializer~
  * Multiple serializers at once #112
* Create microbatches of refresh operators
* Run paramgen on SparkSQL
* ~Move to Spark 3~

[2020-10-27 13:52] rubensworks opened #228 "Turtle serializer"
I seem to be unable to serialize to Turtle when setting the format using `serializer.format:Turtle`.

[code]

I've skimmed through the issues, and saw this: https://github.com/ldbc/ldbc_snb_datagen/pull/161
Does this mean that this generator will not be supporting Turtle any more going forward?
If so, what alternative methods would you suggest to serialize to Turtle?

[2020-10-27 23:15] szarnyasg commented on #228
Hi @rubensworks,

If your data sets sizes aren't huge, try the `stable` branch with Hadoop. That still has the Turtle serializer.

We're overhauling the code on the `dev` branch. Adding and RDF/Turtle serializer is on the list (#227) but has a low priority. So I cannot promise anything.

Gabor

[2020-10-28 10:23] rubensworks commented on #228
Thanks for the reply!
I'll try to use the `stable` branch for now then.

[2020-10-28 10:23] #228 closed, assigned to nobody

[2020-10-29 20:16] szarnyasg opened #231 "Spark error when running on a single machine"
(This error still occurs with the patch of #229 applied.)

I'm running Datagen using Docker on a big single node but Spark occasionally crashes when generating `SF300`/`CsvBasic`. Error log: https://gist.github.com/szarnyasg/5deb84d478e7fe70302230a94b9fae4b

The major exceptions are:
* `java.io.FileNotFoundException: /tmp/blockmgr-4cce999f-ccb3-4620-a648-719e0a8ff768/20/temp_shuffle_f2d9cf54-1ea4-

[2020-10-30 10:08] szarnyasg commented on #231
Some forums suggested increasing the executor memory. I've increased it from 200G to 250G but it made no difference.

[2020-11-02 11:14] szarnyasg opened #232 "Characterize the branching factor of messages"
in the thread tree.

[2020-11-02 11:17] szarnyasg commented on #232
With the data loaded to Neo4j, it's easy to compute the branching factor:

[code]

For SF1, it's `3.22`.

Other statistics:

[code]
-> `39.42`

[code]
-> `3.68`

[2020-11-03 16:15] jackwaudby commented on #232
The comment generation process works by first choosing the number of comments C in the tree uniformly from the range [0,20]. The post (root) message is then entered into a list of parent candidates. Then, C comments are generated, for each comment, a random parent is selected from the parent candidates, if the comment is not a "short" comment, e.g., thanks, ok, (1/3 of all comments are short) then

[2020-11-05 16:57] szarnyasg opened #233 "Use same data format in substitution parameters and generated data"
Currently, the substitution parameters are provided as epochs, while the generated data is a datetime string.

[2020-11-05 18:00] szarnyasg opened #234 "How is the datagen-build docker image built?"

[2020-11-07 11:07] szarnyasg commented on #232
See also PR #235.

[2020-11-07 11:30] szarnyasg commented on #92
Continued in #176

[2020-11-07 11:30] #92 closed, assigned to szarnyasg, miratepuffin, jackwaudby

[2020-11-07 11:31] szarnyasg commented on #52
Support for the Turtle serializer has been dropped for the time being.

[2020-11-07 11:31] #52 closed, assigned to nobody

[2020-11-07 11:43] #225 closed, assigned to nobody

[2020-11-07 11:52] szarnyasg commented on #223
Fixed by 4cbaf3a

[2020-11-07 11:52] #223 closed, assigned to nobody

[2020-11-07 11:58] #149 closed, assigned to szarnyasg

[2020-11-12 10:47] #224 closed, assigned to nobody

[2020-11-17 15:31] djnakabaale opened #236 "BI substitution parameter generator"
In one of the responses on issue #132, @szarnyasg you said:

(https://github.com/ldbc/ldbc_snb_datagen/issues/132#issuecomment-611122148 )

I would like to inquire if this is still the case or if there is there a way to manage the number of substitution parameters generated?
I am currently with *scale factor 30* on branch *v0.3.3* and it generates *1655* substitution params. I would like to be abl

[2020-11-17 15:32] szarnyasg commented on #236
Hi @dmj2x, this is still an issue and being worked on (but always get preempted by some other task...).

[2020-11-17 15:43] djnakabaale commented on #236
Oh okay, I appreciate your quick response.

[2020-11-18 14:15] szarnyasg opened #237 "Only deploy artefacts from the dev branch"
The current CI deploys artefacts regardless of which branch the build runs on.

[2020-11-21 15:12] szarnyasg commented on #69
BI params are to be recalibrated, see #216

[2020-11-21 15:12] #69 closed, assigned to szarnyasg

[2020-11-21 15:19] szarnyasg commented on #112
Fixed in https://github.com/ldbc/ldbc_snb_docs/commit/1e5b55d5f241f6543d44f9bcd6cad5899d220374

[2020-11-21 15:19] #112 closed, assigned to szarnyasg

[2020-11-21 15:22] szarnyasg opened #238 "Document workflows"
Single machine workflow:

- the user builds the Docker image (?)
- the user packages the JAR
- submits the job locally
- the generated files should be produced by the local `$USER` and not `root`

EMF workflow:

- the user packages the JAR
- the user submits to EMR
- the files are generated to S3

Other workflows - ?

[2020-11-23 16:32] jackwaudby opened #239 "Understanding knows edge deletion behaviour at large scale factors"
The probability a given knows edge is deleted is dependent on the similarity [0,1] between two persons, with lower similarity indicating a higher chance that two persons "unfriend" each other (Myers and Leskovec, 2014).

The target proportion of knows edges that are deleted across the simulation period is 5%. Current analysis has been performed on SF1 finding the average similarity weight between

[2020-11-23 22:37] #178 closed, assigned to szarnyasg

[2020-11-24 16:06] szarnyasg opened #240 "Some tests fail"

[2020-11-24 16:51] #240 closed, assigned to nobody

[2020-12-05 14:48] dszakallas commented on #239
We would need the median weight for that math to work out don't we?

[2020-12-08 14:26] all-seeing-code opened #254 "Data generation fails with No space left on device error for SF=300"
How much disk space is required for SF=300 or SF=1000?

According to the report, it should be <300Gb.

`params.ini`:
[code]
Diskspace:
[code]

Logs:
[code]

[2020-12-08 14:31] szarnyasg commented on #254
Hi @anurags92,

SF300 is roughly 300GiB, SF1000 is 1TiB plus a bit for the temp files. 1.4TB of storage should be enough for both.

Do you use Docker or a local Spark installation?

In both cases, it is possible that your temp folder runs out of space. Cloud VMs at certain providers come with small-sized `/` partitions and the `/tmp` directory can fill up quickly.

If you use Docker check out the

[2020-12-08 14:35] all-seeing-code commented on #254
Wow! That was quick. I am using a local Spark installation. Is there a way to side-step this? I have a fairly good system with 32gig RAM and 1TB SSD.

[2020-12-08 14:44] szarnyasg commented on #254
You can set the temp directory by changing `spark.local.dir` (https://spark.apache.org/docs/2.4.0/configuration.html).
That said, 32GB RAM might not be sufficient for larger data sets. I can provide pre-generated CsvBasic data sets -- you'll have to change the date fields to match RFC3339 but that's doable. If you're interested, ping me via email (my address is on my profile).

[2020-12-08 14:55] all-seeing-code commented on #254
I have dropped an email, closing this issue. Thanks!

[2020-12-08 14:55] #254 closed, assigned to nobody

[2020-12-13 01:12] Arun-George-Zachariah opened #256 "Missing run.sh"
Hi,

The readme mentions executing `tools/run.sh` (https://github.com/ldbc/ldbc_snb_datagen#running-locally). But there is no `run.sh` present. Could you kindly upload the appropriate `run.sh`?

[2020-12-14 17:40] dszakallas commented on #256
Hi  @Arun-George-Zachariah I forgot to update the doc, you should use `tools/run.py`

[2020-12-14 17:44] #256 closed, assigned to nobody

[2020-12-14 17:47] szarnyasg commented on #238
Now documented in the README.

[2020-12-14 17:47] #238 closed, assigned to nobody

[2020-12-14 17:48] szarnyasg commented on #234
We no longer use that image, hence this is a wontfix.

[2020-12-14 17:48] #234 closed, assigned to miratepuffin

[2020-12-14 17:48] szarnyasg commented on #232
This is now (superficially) documented in our slideshows.

[2020-12-14 17:48] #232 closed, assigned to nobody

[2020-12-14 17:49] szarnyasg commented on #226
I think our users are experienced enough to build their Docker images so CD is not required. #178 has been fixed. Closing this as wontfix now.

[2020-12-14 17:49] #226 closed, assigned to miratepuffin

[2020-12-14 17:53] szarnyasg commented on #176
This has been fixed by #243.

[2020-12-14 17:53] #176 closed, assigned to szarnyasg, miratepuffin, jackwaudby

[2020-12-28 19:36] szarnyasg opened #262 "Test new Datagen"
To test `raw` CSVs:

Concat all entities by type:

[code]

[2021-01-08 10:24] kubajal opened #264 "Publish small datasets as tar.gz or .zip"
Hi,
could you please publish here: http://ldbc.github.io/ldbc_snb_datagen/ small datasets (those that are smaller than 300MB) packed as .tar.gz or .zip?
Currently, each dataset is available as a bunch of .csv files. It would be nice to have them available as .tar files which could be easier accessed using `wget`.
Best regards,
Jakub

[2021-01-08 10:26] szarnyasg commented on #264
@kubajal Good question... I don't think it would work well as part of the CI/CD process to publish data sets in the range of ~100MB for every commit.

Putting the files in an archive could be easily done for the current (very small) data sets.

[2021-01-08 10:42] szarnyasg commented on #264
I added steps to compress the files into archives. However, this will necessitate a few changes with the deployment: as compressed files do not 'diff' nicely, the history of the `gh-pages` branch will consume a lot of space.

[2021-01-08 17:07] kubajal commented on #264
Thanks!

[2021-01-11 11:57] shrivijaya commented on #45
Unable to Ingest Accessory file due to An error occurred (NoSuchBucket) when calling the PutObjectTagging operation: The specified bucket does not exist

Please help on this

[2021-01-11 12:16] szarnyasg commented on #45
@shrivijaya that's expected to be broken. Email me (address in next msg)

[2021-01-30 18:22] #264 closed, assigned to nobody

[2021-01-30 20:50] szarnyasg commented on #262
The data set 0.003 currently generates empty results:

[code]

[2021-02-01 18:14] szarnyasg commented on #262
Results are similar with Interactive mode - not completely empty but there are e.g. no Person nodes:

[code]

[2021-02-04 23:57] szarnyasg commented on #262
Fixed now

[2021-02-04 23:57] #262 closed, assigned to nobody

[2021-02-04 23:59] szarnyasg opened #269 "Put raw data under raw/"

[2021-02-06 17:54] szarnyasg opened #270 "Sort rows in daily batches (inserts/deletes)"
Currently, lines are unsorted in inserts/deletes files, e.g.

[code]

[2021-02-06 17:57] szarnyasg commented on #239
[code]

Interestingly, the dates are correct but the activity network is *very heavily* skewed towards the last 10% of the network's lifecycle.

[2021-02-06 18:02] szarnyasg opened #271 "(De)serialization of timestamps is very slow"
This causes considerable slowdown (e.g. 2x slow).

A potential workaround would be using epochs (as everything is GMT) which are faster to read/parse/compare.

[2021-02-06 18:06] szarnyasg opened #272 "Introduce configuration language"
Configuration should include the following:

Generator properties:
- scale factor
- block size
- number of persons
- number of years
- start year

Serializer properties:
- initial data set threshold (e.g. 90% goes to the "initial snapshot" data set)
- exploding attributes (Composite attributes vs. Singular attributes)
- exploding edges (Merged FK vs. Projected FK)
- batch size (e.g. daily)
- times

[2021-02-06 18:22] szarnyasg opened #273 "numPartitions configuration is not used"
`numPartitions` is not used. It's accessed in https://github.com/ldbc/ldbc_snb_datagen/blob/294f2c6ed28d7d130689c52c8dc422dfdf94ce2d/src/main/java/ldbc/snb/datagen/hadoop/writer/HdfsWriter.java#L60-L69 but it's only set to 1.

[2021-02-06 18:28] szarnyasg opened #274 "Refactor Graph/GraphDef classes"
Required by #272

Support the following properties (instead of using a layout string):
- exploding attributes (Composite attributes vs. Singular attributes)
- exploding edges (Merged FK vs. Projected FK)

[2021-02-11 21:56] szarnyasg opened #275 "Consider clamping Long Strings at 255"
Currently, strings are clamped to 256 chars, whose length needs >1 byte to represent.

Also check whether there are actually 256-char long strings is the data sets used so far.

[2021-02-17 16:50] #269 closed, assigned to nobody

[2021-02-17 16:50] #274 closed, assigned to nobody

[2021-02-19 01:29] dszakallas commented on #272
Generator properties continue to be configurable with the parameter file with minor changes only.
The following serializer properties are not implemented yet:
 1. timestamp format (related to #271)
 2. generate headers or not

[2021-02-19 21:14] dszakallas commented on #272
You can configure the headers with #277. The timestamp format should be done as part of #271. I am closing this issue.

[2021-02-19 21:14] #272 closed, assigned to nobody

[2021-02-20 14:03] dszakallas commented on #270
Global sorting requires shuffling, which will make the job very slow. Is a local order sufficient?

[2021-02-21 14:15] dszakallas commented on #271
Cannot do much about it, per requirements, we have to use that given date format in raw files. However if we map the column to date right away, we could work with it on later stages without having to parse them on-demand

[2021-02-21 20:37] #271 closed, assigned to nobody

[2021-02-22 02:00] #270 closed, assigned to nobody

[2021-04-24 00:29] szarnyasg opened #286 "Do not store raw in non-raw mode"
When generating the data in e.g. BI mode, the `raw` directory is kept, effectively doubling the size of the generated data sets.

[2021-04-28 15:00] szarnyasg opened #287 "Tune sizes for SF3000+"
Use the [`s4cmd`](https://pypi.org/project/s4cmd/) package to query the size of the data set:

Usage:
[code]

This returns the size in bytes.

[2021-05-05 01:35] szarnyasg commented on #287
Submit with:
[code]

[2021-05-05 13:21] #287 closed, assigned to nobody

[2021-05-05 13:22] szarnyasg opened #289 "Allow configurable data set compression"
There are multiple issues with compression:
* ~it only works for static data sets~
* ~it's not accessible through a command-line/config file switch~
* it uses GZIP (instead of ZSTD)

[2021-05-13 23:41] szarnyasg opened #291 "BI data set contains timezone offsets"
Timezone data contains mix of +01:00 and +02:00:

[code]

This may not be incorrect per se but makes parsing more difficult.

[2021-05-14 00:16] szarnyasg opened #292 "MergedFK snapshot data has incorrect columns"
The second column is boolean but it should be an ID:

[code]

[2021-05-15 16:10] dszakallas commented on #292
Looks like the schema is incorrect: https://github.com/ldbc/ldbc_snb_datagen/blob/5b1d6b1e3f086eca4a8746f02ddd72cffa2c[…]scala/ldbc/snb/datagen/transformation/TransformationStage.scala

[2021-05-15 16:37] #292 closed, assigned to nobody

[2021-05-15 17:54] #291 closed, assigned to nobody

[2021-05-15 18:05] dszakallas commented on #273
We use it for adaptive partitioning now

[2021-05-18 18:12] szarnyasg opened #296 "ProjectedFK snapshot data has incorrect columns"
Same as #292 but for ProjectedFK

[2021-05-18 18:14] szarnyasg commented on #296
Was resolved by #293

[2021-05-18 18:14] #296 closed, assigned to nobody

[2021-05-27 10:05] marcelned opened #300 "Wrong JAR file generated for Spark 3.1"
Upon invoking `tools/build.sh`

the following target is generated:

`./target/ldbc_snb_datagen_2.12_spark3.1-0.4.0-SNAPSHOT.jar`

even though I'm using spark-3.1.1-bin-hadoop2.7

This leads to an error at data generation process:

[code]

[2021-05-27 15:15] szarnyasg commented on #300
Hi @marcelned, thanks for reporting this.

I have trouble reproducing the issue locally (Fedora 34, Maven 3.6.1). Invoking the `tools/build.sh` should use the default Maven build profile and result in a JAR for `spark2.4`. Locally, it produced me `./target/ldbc_snb_datagen_2.11_spark2.4-0.4.0-SNAPSHOT.jar`.

Are you sure you the build generated the file `./target/ldbc_snb_datagen_2.12_spark3.1-0.4

[2021-05-28 15:25] #273 closed, assigned to nobody

[2021-05-28 15:32] szarnyasg opened #301 "Add option to omit headers"
It would be great to have an option to omit headers from the generated CSV files. Tools typically don't need the header to be present in each file. Some tools, e.g. the Neo4j import tool do not support loading multiple files if the header is present in all files.

[2021-05-29 07:25] marcelned commented on #300
@szarnyasg The fix worked perfectly. Thank you!

[2021-05-29 07:25] #300 closed, assigned to nobody

[2021-06-01 14:29] szarnyasg commented on #301
There is an option for this with `--format-options` as documented in the README: https://github.com/ldbc/ldbc_snb_datagen/blob/736c30b41d32cd862a45add9719a5a167d7f7660/README.md#generator-configuration-arguments

[2021-06-01 14:29] #301 closed, assigned to nobody

[2021-06-03 02:57] szarnyasg commented on #289
The command-line flag `--format-options compression=gzip` solves most of the proposed problems except for ZSTD support.

[2021-06-03 02:58] szarnyasg opened #304 "NULL values are serialized as empty strings with quotes"
NULL values for bigint values (referencing either the parent comment or the parent post of a comment) are serialized as `""`.

[code]

Unsurprisingly, some databases (e.g. Postgres) don't like this.

[2021-06-03 03:05] szarnyasg opened #305 "Post languages are missing"
The `language` field of posts is empty (NULL, represented with a quoted empty string in the output `""`):

[code]

[code]

[2021-06-08 14:34] szarnyasg commented on #304
See also #198

[2021-06-08 14:46] #304 closed, assigned to nobody

[2021-06-08 15:02] szarnyasg commented on #305
This bug has been fixed by the changes in the last few days.

[2021-06-08 15:02] #305 closed, assigned to nobody

[2021-06-08 15:18] #198 closed, assigned to szarnyasg

[2021-06-08 15:18] szarnyasg commented on #198
The `quoteAll=true` option of the Spark DataFrameWriter does the job. Quoting all fields seems to work fine with Neo4j's offline CSV loader.

[2021-06-08 15:26] szarnyasg commented on #275
The difference between a maximum string length of 255 or 256 bytes is unlikely to be a major problem for contemporary database systems. Closing this as wontfix.

[2021-06-08 15:26] #275 closed, assigned to szarnyasg

[2021-06-08 16:20] szarnyasg commented on #237
I tried to fix this on `circleci-deploy-test` but didn't succeed so far.
It seems one needs to use workspaces in CircleCI:
- https://circleci.com/docs/2.0/deployment-integrations/?section=deployment#2-0-config
- https://circleci.com/docs/2.0/workflows/#using-workspaces-to-share-data-among-jobs

[2021-06-08 16:22] szarnyasg commented on #102
It's already possible to produce the output to HDFS, this is what e.g. the EMR script does.
Then it copies the output to S3, see https://github.com/ldbc/ldbc_snb_datagen/blob/f88c421b08ad7142d4462aedcbcbc2c7ea7bbec4/tools/emr/submit_datagen_job.py#L178-L181

[2021-06-08 16:22] #102 closed, assigned to miratepuffin

[2021-06-08 16:23] szarnyasg commented on #83
Paramgen is going to be reimplemented in SQL.

[2021-06-08 16:23] #83 closed, assigned to szarnyasg

[2021-06-08 16:24] szarnyasg commented on #215
This issue is done except for parameter generation. To be continued in #236

[2021-06-08 16:24] #215 closed, assigned to nobody

[2021-06-08 16:25] szarnyasg commented on #227
These improvements were made except for reimplementing the paramgen in SparkSQL. To be continued in #236

[2021-06-08 16:25] #227 closed, assigned to dszakallas

[2021-06-08 16:26] szarnyasg commented on #122
This is a nice-to-have but non-essential feature, closing it as wontfix for now.

[2021-06-08 16:26] #122 closed, assigned to nobody

[2021-06-08 16:26] szarnyasg commented on #233
To be fixed as part of #236

[2021-06-08 16:26] #233 closed, assigned to nobody

[2021-06-08 16:34] szarnyasg commented on #289
Documented in 836c2f833b2bc6321e4c4a2f0300644ea7dd5f4f.

[2021-06-08 16:36] szarnyasg commented on #216
Deprecated in favour of #236

[2021-06-08 16:37] #216 closed, assigned to nobody

[2021-06-08 16:38] szarnyasg commented on #124
We are still working on the BI parameter generator. To be continued in #236

[2021-06-08 16:38] #124 closed, assigned to nobody

[2021-06-09 09:27] #237 closed, assigned to nobody

[2021-06-09 18:04] szarnyasg commented on #231
It ran now (f88c421b08ad7142d4462aedcbcbc2c7ea7bbec4) on CWI's `diamonds4` machine. With the following configuration, it took ~20 hours to generates SF1000.

[code]

[code]

[2021-06-09 18:04] #231 closed, assigned to nobody

[2021-06-10 14:36] szarnyasg opened #306 "Non-deterministic results in EMR"
When running SF100 on a single machine, Datagen always returns the same results but in Amazon's EMR it returns slightly different graphs. The timestamps are the same so it shouldn't be related to timezone issues. Person nodes are the same but Forums, Comments, and Posts have different IDs and a (slightly) different number of entities.

[2021-06-19 15:58] szarnyasg opened #307 "Define SF100k data set"
Our current largest data set is SF30k. We should introduce SF100k and set the number of persons to achieve the size of 100TiB (in CSVs).

[2021-06-19 22:25] szarnyasg opened #308 "Turning Posts into deletions does not work"
The deletion dates of Posts seems to be normal (just like the deletion dates of Comment)

For example:
[code]

However, the directory of Post deletions is empty:
[code]

[2021-06-19 22:28] szarnyasg commented on #308
Further investigation reveals issues with the timestamps: deletionDate = creationDate + delta (10 seconds) + epsilon for many posts:

[code]

[2021-06-19 23:33] jackwaudby commented on #308
Not sure I follow why this is problematic for turning post deletion timestamps into delete operations?

[2021-06-23 18:56] #308 closed, assigned to jackwaudby

[2021-07-14 07:09] szarnyasg opened #313 "Document parameters"
The wiki of the previous (mix of Hadoop/Spark) repository had partial documentation of the user-facing parameters:

[code]

[2021-07-17 00:00] szarnyasg opened #314 "Split CSV files for batches"
For large SFs, the insert CSVs are quite large - we should split them into smaller files.

[2021-07-19 18:12] #306 closed, assigned to nobody

[2021-07-29 19:03] dszakallas opened #316 "Fit polynomial function on entity size for better partitioning"

[2021-07-29 19:04] dszakallas opened #317 "Reimplement factor table generation as processing step"

[2021-07-29 19:05] dszakallas opened #318 "Implement parameter generation"
Based on https://github.com/ldbc/ldbc_snb_data_converter/tree/main#parameter-generation

[2021-08-01 10:56] dszakallas opened #319 "Datagen should work for file URLs"

[2021-08-05 10:48] szarnyasg opened #321 "Current AWS EMR settings may cause thrashing/crashing on SF30k"
The current script that submits AWS EMR jobs may cause some thrashing:
* Generating SF10,000 on 100 instances takes 4 hours
* Generating SF30,000 on 300 instances takes 10 1/4 hours.

Using a few more (~10-20%) machines may help speed up SF30,000 and make the job cheaper.

[2021-08-09 05:29] arvindshmicrosoft opened #322 "Transformation stage fails with "Path does not exist" in DataFrameGraphReader.read()"
Generation stage seems okay, but the Transformation stage fails with a "path does not exist" exception. I did some analysis (see below) to hopefully trigger some clues in your minds. Hoping to get some insights from you all on this issue.

# Environment
* ldbc_snb_datagen_spark commit hash a2ffaed80dcc38307d4ffb88cf020ba927be4f8a
* Spark 2.4.8 running on Yarn
* Hadoop 3.3.1 with 8 worker nodes
* O

[2021-08-09 17:58] dszakallas commented on #322
Thanks for reporting this issue. Indeed, this seems to be caused by the way better-files handles relative paths.

[2021-08-09 20:21] arvindshmicrosoft commented on #322
@dszakallas you seem to have read my mind! I took a quick spin with your commit c6269347e9ade44005644cd4424b0d9216c4b415 and indeed it not only fixed this current issue, but also my underlying real issue which was to get it to output directly to ADLS Gen2. I tested with both local (`run.py`) and cluster (`spark-submit`) modes of operation, and each time also specifying an `--output-dir` directly t

[2021-08-09 21:38] #317 closed, assigned to nobody

[2021-08-10 17:17] #322 closed, assigned to nobody

[2021-08-10 17:18] dszakallas commented on #322
@arvindshmicrosoft Great! I'm glad this helped you out. The code was written with EMR/S3 in mind originally to meet our internal use case, but this refactor was well due to open up for arbitrary hadoop integrations.

[2021-08-23 19:52] arvindshmicrosoft opened #324 "Long delay after writing edge snapshots due to single-threaded renaming of output files by the Spark driver"
I generated SF30000 dataset directly to ADLS Gen 2. What I observed is that after the major snapshots are written, there are significant delays due to single-threaded renaming of the output files. There is a simple, serialized, loop to do this, and all of the action is on the driver. When working with remote cloud storage the overall delays are really significant, taking up ~ 67% of the total data

[2021-08-27 04:45] arvindshmicrosoft commented on #324
I edited the issue description as previously I had mistakenly assumed that the numbers of output files produced in the insert / delete stages to be the same as the number of tasks - which is not the case. The numbers of output files produced for inserts / deletes is significantly smaller than the number of output files in the initial snapshot. This does explain the difference in behavior between t

[2021-08-29 18:27] arvindshmicrosoft opened #325 "Questions on Comment data"
Hello! I have 2 questions on the Comment data.

#### Q1: Why is ParentPostId not included when a Comment is a replyOf another Comment?
When a comment is a reply to another comment, the ParentCommentId is populated, but ParentPostId is null. It would make things a bit easier for partitioned data loads if the ParentPostId is also included for such cases (by making it a direct join back to the forum

[2021-09-01 02:49] prncoprs opened #326 "Build the JAR failed."
I tried to build the jar file following the README file. However, I encounter the building failed issue while I git clone the main branch of the repo and typed `tools/build.sh` in my shell. The error messages are the below.
[code]

Is there anyone can help me? Thanks!

[2021-09-01 06:46] szarnyasg commented on #326
Which OS/JVM do you have? I spun up an Ubuntu 20.04 container with Java 11 and it worked:

[code]

[code]

[code]

[2021-09-01 07:15] prncoprs commented on #326
@szarnyasg The platform I am running is
[code]

[2021-09-01 11:20] szarnyasg commented on #326
I also tried it with Ubuntu 18.04 and Java 8:

[code]
[code]
[code]
It worked. Are you on the latest commit of `main`? It might be worth doing a (careful) `git clean -xdf .` in the repository.

[2021-09-01 15:06] prncoprs commented on #326
I try it in my MacOS, it works. However it can not work in my remote server.

[2021-09-02 08:20] prncoprs commented on #326
In my remote server, I try `tools/build.sh -Pspark3.1`, then it works. But `tools/build.sh ` still failed.

[2021-09-05 19:27] szarnyasg commented on #325
Hi @arvindshmicrosoft

Regarding Q1:

This is a deliberate choice – if systems are want to know the `ParentPostId`, they have to compute it by traversing the Message tree. This is true both during the bulk load phase and also during inserts (in the Interactive workload's small transactions and also in the larger - daily - batches of the BI workload).

I'll let David chime in regarding Q2.

[2021-09-05 19:45] dszakallas commented on #326
This is an incremental compiler bug present in Scala 2.11 / Java mixed projects. The spark3.1 profile uses Scala 2.12, so it isn't affected. It can be resolved by running `mvn clean`.

Incremental compilation works 99% of the time, then sometimes this happens. We could force full recompilation instead with a `scala-maven-plugin` setting so that this issue doesn't surface, but it would slow down th

[2021-09-05 20:57] dszakallas commented on #325
We do not guarantee this. Even for the raw mode, where we have a custom serializer for writing the tree-based structure of posts and comments into tabular format. It uses a modulo based technique where the nth row of a Spark partition outputs  to  a file `part_<partition_num>_<file_num>` where `file_num` is `n mod m` (m is a constant specific to the entity type).  This is done in order to control

[2021-09-05 20:58] #319 closed, assigned to nobody

[2021-09-06 01:30] prncoprs commented on #326
@dszakallas Cool! This works for me! Really thank you for your help!

[2021-09-06 01:30] #326 closed, assigned to nobody

[2021-09-07 17:41] arvindshmicrosoft commented on #325
Thanks for the clarifications. I was looking at the [Neo4J trillion entity demo](https://github.com/neo4j/trillion-graph/blob/master/stores.md) and noticed that while it mentions LDBC, the output is quite customized. Specifically, that generator puts out shards based on the forumId.

So, I am curious if you would consider explicitly adding a forumId field in the official datagen to allow more effi

[2021-09-07 18:02] szarnyasg commented on #325
It depends on how we define the "official datagen":
* For the Datagen configuration that should be used for benchmarking, I'd say *no* as such a flag may make the benchmark simpler for certain systems. That said, if an implementation would like to reorganize the data set (by e.g. adding redundant data such as a message's forum id or parent post id), it can do so during the loading phase. Then, the

[2021-09-10 19:59] dszakallas opened #327 "Only copy result set to S3"
Currently we are copying the whole working directory - including all intermediate data - to S3. This results in increased storage costs, and is unnecessary. We should only copy the final output to S3, ie. the contents of  `$builddir/$format/$mode`.

[2021-09-10 20:00] dszakallas commented on #327
`$format` and `$mode` can come from the `submit_datagen_job`. This requires us to promote this parameters from passthrough args to args of the Python script itself.

[2021-09-10 20:18] dszakallas opened #328 "Compress intermediate results"
We should reduce the size of intermediate data (raw) without sacrificing too much performance. Good candidate might be using parquet and snappy.

[2021-09-13 19:28] dszakallas opened #331 "Drop support for Spark 2.4"
Spark 3 has been released in Dec 2020. All major platforms are supporting it now. Maybe it's time to drop support for Spark 2.4?

[2021-09-13 19:38] szarnyasg commented on #324
@arvindshmicrosoft thanks for reporting this and apologies for the delay in responding. @dszakallas has started to look into this. We have one question - which Spark version do you use? If it's 2.x, can you upgrade to 3.x without much hassle?
Thanks,
Gabor

[2021-09-13 20:04] arvindshmicrosoft commented on #324
Thanks! My cluster config is:
* Spark 3.1.2
* Hadoop 3.3.1

So I am on current latest for both. OpenJDK 8.

[2021-09-14 08:35] szarnyasg commented on #331
I'm in favour of dropping support for Spark 2.x.

Some of our users are already on the 3.x branch:
https://github.com/ldbc/ldbc_snb_datagen_spark/issues/324#issuecomment-918532634

[2021-09-14 09:38] szarnyasg opened #332 "Use spot instances by default"

[2021-09-14 18:47] #327 closed, assigned to nobody

[2021-09-14 20:10] #332 closed, assigned to nobody

[2021-09-15 17:46] dszakallas commented on #324
Taking a look at the [hadoop-azure documentation](https://hadoop.apache.org/docs/current/hadoop-azure/index.html#Multithread_Support):

| Rename and Delete blob operations on directories with large number of files and sub directories currently is very slow as these operations are done one blob at a time serially. These files and sub folders can be deleted or renamed parallel. Following configurati

[2021-09-15 19:35] arvindshmicrosoft commented on #324
Thanks @dszakallas - there is no obvious configuration within ABFSS to group these. ABFSS is just a victim here, the looping is triggered by these lines:
[code]

In turn, such looping is due to the large number of partitions. The issue would be mitigated if we can configure the partition sizes  in Datagen, to increase the "chunk size". Is there such a configuration in Datagen itself?

[2021-09-15 22:04] dszakallas commented on #324
You can configure `--numThreads` which directly affects the partition size for `Person`s. Others are multiples of that by the following factors: https://github.com/ldbc/ldbc_snb_datagen_spark/blob/3c3af9021ffefcced7342181a62ce7a8f279951e/src/main/java/ldbc/snb/datagen/serializer/FileName.java#L5-L31
You can try reducing that. Furthermore I created a pull request that exposes an internal configurat

[2021-09-15 22:37] dszakallas commented on #289
There's ZSTD support in Hadoop 2.9.0 and newer:
https://issues.apache.org/jira/browse/HADOOP-13578
Technically Spark 3.1 support it however it's a bit tricky, see https://issues.apache.org/jira/browse/SPARK-34651
Spark 3.2.0 will ship support.
libhadoop is not build with zstd support by default so we might require a custom hadoop if we want to have it with Spark 3.1.0 / or in the raw serializer (a

[2021-09-15 22:58] dszakallas opened #335 "Configurable compression for raw data"
The raw serializer should be able to handle common compression algorithms.

[2021-09-16 09:05] dszakallas commented on #335
Duplicate of #289

[2021-09-16 09:05] #335 closed, assigned to nobody

[2021-09-16 09:07] szarnyasg commented on #289
I'm a big fan of zstd but found that currently most graph DBMSs only support loading from `csv.gz` or maybe `csv.bz2`. So I would not upgrade (or wait for) a new minor version of Spark just for this feature.

[2021-09-18 15:18] dszakallas commented on #331
The first step is moving to Spark 3.1 by default: #338

[2021-09-18 15:38] dszakallas commented on #289
It could be still useful for compressing the intermediate data, for which my current best bet is to do with parquet / snappy.

[2021-09-20 19:54] arvindshmicrosoft commented on #325
Thank you @szarnyasg - I will close this Issue as we have had a good discussion above. I will let you folks consider the request to possibly add an extra flag to possible add the forumId as a test-only extra field to the related outputs.

[2021-09-20 19:54] #325 closed, assigned to nobody

[2021-10-11 12:55] szarnyasg opened #339 "header=false does not turn the headers off"
The switch `--format-options header=false` does not have the desired effect.

To reproduce

[code]

[2021-11-24 20:31] dszakallas commented on #286
Isn't this resolved by #327?

[2021-11-24 20:44] szarnyasg commented on #286
On S3, yes, but locally the `raw` directory is kept at the end of the generation.
[code]
It's arguable whether this should be the case. I don't mind keeping it -- even if we delete it, it will not reduce the maximum disk usage during generation.

[2021-11-25 08:32] szarnyasg opened #340 "Support LongDateFormatter"
The Hadoop variant had a `LongDateFormatter` which produced epoch numbers for the datatime values (e.g. `creationDate`):
https://github.com/ldbc/ldbc_snb_datagen_hadoop/blob/main/src/main/java/ldbc/snb/datagen/util/formatter/LongDateFormatter.java

This is a low priority issue, saving it here in case many users are interested (if so, let us know).

[2021-11-28 14:56] dszakallas commented on #286
Unfortunately we need that during generation now, until we come up something better than the two-stage generation phase.

[2021-11-28 16:17] dszakallas opened #343 "Move to SBT"
As we are moving an ever larger part of our codebase to Scala, we should discuss whether to move to SBT altogether and remove Maven support, so that we don't have to maintain two build systems.

SBT is the primary build system for Scala and is able to support our need of mixed Java/Scala compilation with the added benefit of having better support for Scala projects altogether, either from features

[2021-11-28 17:08] #339 closed, assigned to dszakallas

[2021-11-28 17:16] szarnyasg commented on #343
I'm fine with moving away from Maven.

SBT can be slightly more difficult to set up locally but those who just want to generate a few small graphs can use our [Docker image](https://github.com/ldbc/ldbc_snb_datagen_spark/tree/main#docker-image).

[2021-11-28 17:28] szarnyasg opened #344 "Deprecated timestampformat"
The example in the README fails:

[code]

[code]

[2021-11-28 18:02] #286 closed, assigned to nobody

[2021-11-28 18:21] #344 closed, assigned to nobody

[2021-12-04 10:15] szarnyasg commented on #340
Maybe the intermediate (raw) data set could use this to speed up reading it back.

[2021-12-06 18:48] arvindshmicrosoft opened #346 "SF 3K and SF 10K size observation"
I am seeing quite low storage sizes for the `bi/singular-merged-fk` data generation for these scale factors. This is from some older runs in August 2021, which were done with commit hash 36d6628e7717339f8d6720c7080cf008d6139d97. Albeit the NumPersons are the same as in the latest code.

| Scale factor | Total space (including inserts / deletes) | NumPersons |
|--------------|----------------------

[2021-12-11 13:41] szarnyasg commented on #340
Loosely related PR: #336

[2021-12-12 21:27] szarnyasg opened #349 "Post languages are broken"
Currently, posts are written in one of three languages: `ar`, `tk`, and `uz`.

[code]
[code]

This problem was also present in the [Hadoop-based Datagen](https://github.com/ldbc/ldbc_snb_datagen_hadoop/). E.g. the SF30 data set also has the following languages:
[code]

This had no effect on the Interactive workload as the `language` attribute was not used in any of the queries. However, BI Q12 use

[2021-12-12 23:17] szarnyasg opened #350 "Deploy factor files in CI"
Generate & deploy factors in CI

[2021-12-15 08:14] szarnyasg commented on #350
Fixed by 6d893cae36218b7496468a901d4ef2f66fe3598a

[2021-12-15 08:14] #350 closed, assigned to nobody

[2021-12-15 08:15] szarnyasg opened #352 "City pairs and country pairs factor files are empty"
Generated an SF1000 data set and its factor values on bc416598d35e1065d269f29f012b32045234a7bf.
The CSVs in `cityPairsNumFriends` and `countryPairsNumFriends` are empty:
[code]

[2021-12-15 13:38] szarnyasg opened #353 "Factor tables: adjustments and new tables"
* [x] adjustment: the `countryNumMessages` table should contain country names
* [x] new factor table: `tagNumPersons`: for each Tag, the number of Persons with interest for the Tag
* [x] new factor table: `dateTagClassNumMessages`: for each day (~1000) and TagClass (~70), the number of Messages
* [x] new factor table: `cityNumPersons`: for each city, the number of persons and also the country id o

[2021-12-15 23:38] dszakallas commented on #331
#336 removed Spark 2.4 support

[2021-12-15 23:38] #331 closed, assigned to nobody

[2021-12-16 00:31] dszakallas commented on #340
Technically, this is actually rather easy to do. We just need to do an inverse transformation of https://github.com/ldbc/ldbc_snb_datagen_spark/blob/main/src/main/scala/ldbc/snb/datagen/transformation/transform/ConvertDates.scala.

[2021-12-16 17:02] szarnyasg commented on #328
Resolved by #336 which indeed uses parquet and snappy.

[2021-12-16 17:02] #328 closed, assigned to nobody

[2021-12-16 17:05] szarnyasg commented on #289
Intermediate (raw) data set compression has been added in #336
For the final data sets, `--format-options compression=gzip` works as documented in the README.

[2021-12-16 17:05] #289 closed, assigned to nobody

[2021-12-16 17:45] szarnyasg commented on #236
Continued in #318

[2021-12-16 17:45] #236 closed, assigned to nobody

[2021-12-16 17:50] szarnyasg opened #354 "Determine paths with a given length"
A few of the BI queries require pairs of persons with a given distance.

The paramgen should produce this somehow. Example approach:

* Take 10 person nodes from China.
* Jump 4 hops using only Person-knows-Person edges while ensuring that persons don't repeat on a given path (e.g. 4 steps of a BFS).
* Take e.g. 100 pairs of persons (from the endpoint of the paths)

A potential optimization is to

[2021-12-17 02:09] #121 closed, assigned to nobody

[2021-12-18 23:27] #352 closed, assigned to nobody

[2021-12-18 23:30] szarnyasg commented on #353
Work ongoing on the `factor-table-country` branch: https://github.com/ldbc/ldbc_snb_datagen_spark/pull/355

[2021-12-19 18:03] #349 closed, assigned to szarnyasg

[2021-12-19 19:13] szarnyasg commented on #349
The fix worked, SF3 now has 84 languages (+the header) in its posts.
[code]

[2022-01-02 21:39] #353 closed, assigned to szarnyasg

[2022-01-28 18:38] dszakallas commented on #314
(1) This is actually not so easy to do if we want to split based on the `sizeFactor` estimation

- We need to have size information in the BI writer, which we currently don't.  The BI graph doesn't change the relative sizes of the entities so we could actually reuse everything from the raw graph but the edge and attribute explosions do introduce new entities whose sizes should be estimated.

- Tec

[2022-02-02 14:03] #314 closed, assigned to dszakallas

[2022-02-02 15:13] szarnyasg opened #364 "Generate factors on EMR"
Runs in the same job as the generator. Add `--generate-factors` and `--copy-all`.

[code]

[2022-02-02 15:18] szarnyasg commented on #354
+ add `sample`

[2022-02-02 20:01] dszakallas commented on #354
I added sample and a sigmoid dampening at the start, so small graphs use larger samples:
| SF  | samples (abs) | samples (%) | 3 hops | 4 hops |
|-----|---------|-----------|--------------|----------|
| 0.1 | 209     | 88.20     | 139602       |  6858 |
| 0.3 | 410 | 72.39 |  630372 | 23125 |
| 1   | 548     | 36.72     | 2786062      | 114308 |
| 3   | 188     | 5.19      | 2870619      | 230007

[2022-02-02 20:28] #354 closed, assigned to dszakallas

[2022-02-11 13:31] szarnyasg commented on #346
We found that a 3rd degree polynomial closely approximates the `numPerson` with `sf` as its input.

We have the `numPersons` dialled in for `sf`s 1...300.

[code]

Will update `sf`s 1000, 3000, and 10000 shortly.

[2022-02-17 06:27] szarnyasg opened #371 "people4Hops factor table is too large"
The people4Hops factor table is massive:
[code]
It should be capped at a few thousand rows max.

[2022-02-18 00:34] szarnyasg opened #374 "SF1000 EMR failures"
* 3b9c76b: `gabor_test_sf1000_3b9c76bd_20220217_233543	j-2VYUFIUHAOA7F	Terminated              All steps completed     2022-02-18 00:35 (UTC+1)	44 minutes	336`

* 412a027: `gabor_test_sf1000_412a027_20220217_204601	j-14GWE5F5ANXU3	Terminated with errors  Step failure            2022-02-17 21:47 (UTC+1)	13 minutes	336`

[code]

* 4e68fe7: `gabor_test_sf1000_4e68fe7_20220217_190247	j-3NYXZ11TLOHSC	T

[2022-02-18 00:35] #374 closed, assigned to nobody

[2022-02-19 09:12] szarnyasg commented on #371
Fixed by bf50201afbb672885a0c5fa6a8ddce1ade545c03

[2022-02-19 09:12] #371 closed, assigned to nobody

[2022-02-19 19:34] szarnyasg commented on #318
This was implemented in the BI repository: https://github.com/ldbc/ldbc_snb_bi/tree/main/paramgen
It is based on the factors produced by Datagen.

[2022-02-19 19:34] #318 closed, assigned to szarnyasg, dszakallas

[2022-02-22 20:31] szarnyasg commented on #364
Ran the factor generator for SF3000. Without factors, the runtime was 40 minutes. With factors, it grew to 56 minutes.

[2022-02-22 20:49] szarnyasg commented on #346
I updated the sizes of SF3k and SF10k (3559d7094865bff03e2983d3b1a3c496e4b170d6 and 532257f52d9acb1c9ec3f593e7642d4d367ed33e).

Now, when run with the default settings (i.e. using the `composite-merged-fk` serialization format), the generator produces ~3000 GiB and ~10000 GiB of data sets for SF3000 and SF10000, respectively.

[2022-02-22 20:49] #346 closed, assigned to szarnyasg

[2022-02-22 21:34] szarnyasg commented on #239
@jackwaudby Is there anything to add to this issue or shall we close it?

[2022-02-22 21:43] szarnyasg commented on #209
Keeping the `out/` directory helps if the generator needs to use previous data sets (e.g. the raw data set for different serializers).

[2022-02-22 21:43] #209 closed, assigned to nobody

[2022-02-23 00:03] jackwaudby commented on #239
Think we can close this issue.

[2022-02-23 08:15] #239 closed, assigned to jackwaudby

[2022-02-28 12:50] szarnyasg opened #381 "Stability issues in EMR"
SF3,000+ jobs frequently crash in EMR:

[code]
[code]

[2022-02-28 12:50] szarnyasg commented on #364
Currently blocked on #381.

[2022-03-03 23:49] #381 closed, assigned to nobody

[2022-03-05 20:53] szarnyasg commented on #364
Ran successfully for SF10,000.

[2022-03-05 20:58] #364 closed, assigned to szarnyasg

[2022-03-06 19:32] szarnyasg commented on #321
I ran an SF30k job on 7655fe864a836216bf8b2f50fd8fbd9d0d5a489a. It crashed (saved the logs locally).

[2022-03-15 21:12] szarnyasg opened #384 "Cleanup predict scripts"
There are _two_:
* https://github.com/ldbc/ldbc_snb_datagen_spark/blob/main/tools/sfs/predict.py
* https://github.com/ldbc/ldbc_snb_datagen_spark/blob/main/tuning/sf-prediction.py

[2022-04-25 20:12] szarnyasg opened #385 "Add same-university-knows factor table"
Needed for BI Q20

[2022-04-28 07:40] HarrisChu opened #387 "OOM when generate sf3000 in local"
when I generate sf3000, spark errors "java.lang.OutOfMemoryError: Java heap space"

[code]

MemTotal:       251GB

could you provide the configuration when generate sf3000 in local?
Thanks.

[2022-04-28 07:59] szarnyasg commented on #387
Hi, SF3000 needs quite a lot of memory. I recently generated the BI variant on AWS EMR where it ran on 24 r6gd.4xlarge machines, so it used 3TiB of RAM in total.

By the way, the Datagen's support for the Interactive workload is not complete, so even if you manage to get it running, this will not produce the correct data sets for Interactive. We are working on this with an ETA in the summer.

[2022-04-30 00:45] HarrisChu commented on #387
OK, thank you

[2022-05-01 02:22] arvindshmicrosoft opened #388 "Duplicate records in Person_email_EmailAddress ?"
I was under the impression that [PersonId + emailAddressId] in the Person_email_EmailAddress dataset is a natural primary key. However, I see that is not true. I wanted to check if these duplicates are by design or not expected. As an example, here's a snippet from one such file (part-00001-87466142-687b-472e-aa0a-85ceaa2f5416-c000.csv), where I see duplicates (as indicated by the >> symbol inline

[2022-05-01 11:42] szarnyasg commented on #388
Thanks for reporting this! Indeed, there seem to be duplicates in the email address, both in the `composite` and in `singular` formats:

[code]
[code]

[code]
[code]

According to the specification, the email addresses are supposed to be stored in a *set*, so the values should be unique. Therefore, this is a bug in the generator and we'll take a look. That said, the BI workload currently does not

[2022-05-01 15:26] arvindshmicrosoft commented on #388
Thanks Gabor. Keeping in mind the future state, I am only using the Spark based datagen for all cases including for interactive queries. For now, I will just workaround by de-duping inside the DB.

[2022-05-03 19:39] #387 closed, assigned to nobody

[2022-05-03 19:40] szarnyasg commented on #385
Implemented in 986f9f06765c7dce3dc75aba16fbaab4e0c9f620

[2022-05-03 19:40] #385 closed, assigned to nobody

[2022-05-03 22:00] szarnyasg commented on #388
I found the culprit: in the old (Hadoop-based) Datagen, the email attribute was a `Set`:

https://github.com/ldbc/ldbc_snb_datagen_hadoop/blob/5ba94c3c0873c397c32b6e3480951f4ea7973982/src/main/java/ldbc/snb/datagen/entities/dynamic/person/Person.java#L72

This was changed to a `List` without consideration for potential duplicates. This should be easy to fix.

[2022-05-03 22:18] #388 closed, assigned to szarnyasg

[2022-05-04 05:56] szarnyasg opened #390 "Adjust file sizes"
* Initial CSV files should be approx. 2GB (uncompressed).
* Inserts/deletes should be larger.

[2022-05-08 12:22] #384 closed, assigned to nobody

[2022-05-08 12:25] szarnyasg commented on #313
The current README now documents the user-facing params.

[2022-05-08 12:25] #313 closed, assigned to nobody

[2022-05-22 17:50] szarnyasg opened #393 "Use consistent attribute names for PersonHasInterestTag"
`PersonHasInterestTag`'s `personId` and `interestId` attributes should be `PersonId` and `TagId` for consistency.

https://github.com/ldbc/ldbc_snb_datagen_spark/blob/1c793bdab60e16f2c02f277aee52cd860645d3ec/src/main/scala/ldbc/snb/datagen/model/raw.scala#L26-L31

However, I just generated 10+ TiB of data with the current naming convention, so I think amending this minor issue can wait.

[2022-06-10 23:44] aMahanna opened #394 "Inquiry: SNB Basic + SNB Composite Merge Foreign?"
Hi again 😄

In an experiment to support our database's multi-model functionality, we are trying to include the edges generated from the SNB [Basic](https://github.com/ldbc/data-sets-surf-repository#social-network-with-the-csvbasic-serializer-using-longdateformatter) dataset, with the files generated from the SNB [CompositeMergeForeign](https://github.com/ldbc/data-sets-surf-repository#social-netwo

[2022-06-11 00:04] szarnyasg commented on #394
Hi @aMahanna,

Two things:

1. Can you please clarify how the results are inconsistent?

The datagen is deterministic, so the graphs (including the IDs) should be the same between different generators. Therefore, combining files from data sets should be possible without getting inconsistency.

2. For pre-processing data sets, I have two approaches:

i. Using the usual UNIX tools like `grep`, `cat`

[2022-06-15 23:17] aMahanna commented on #394
Apologies for the delay and for the confusion, after further investigation we discovered a formatting mistake on our part when combining the files.

I will follow up shortly regarding your second point, but for now I just want to say thank you for all the help so far

- Anthony

[2022-06-21 14:37] aMahanna commented on #394
Hi Gabor,

We've been evaluating the various SNB datasets available in attempt to support our database's multi-model functionality.

We found that using a combination of the Basic & MergeForeign datasets substantially increases our query performance and better suits our data model. Our request would be to have the datagen natively support the data model outlined below, or suggest a way to do so if

[2022-06-21 16:15] szarnyasg commented on #394
@aMahanna I transferred the issue to the (new, Spark-based) Datagen's repository.
I skimmed your suggestion and it seems doable in Datagen albeit it will not have a high priority in our development plans.

This week I'm travelling/have other duties -- I will take a look next week.

[2022-06-23 12:11] szarnyasg opened #395 "Redundant entities generated for deletes"
For BI data sets, there are 8 delete types as described in the [spec](https://ldbcouncil.org/ldbc_snb_docs/workload-bi-reads.pdf).

However, if the data set is generated with the `--explode-edges` flag, extra files are generated:

[code]

[code]
The extra files are redundant and not used by the client code implementing the deletes:
[code]
[code]

[2022-06-25 17:49] szarnyasg commented on #219
Partially resolved by #397 which includes first names and `person's friends of friends'` -- but most of the factor tables are still missing.

[2022-06-25 17:56] szarnyasg opened #399 "Docker Hub image"
We should either deprecate or update the Docker Hub image.
It's current mention in a comment in the main README.md file but not maintained.

[2022-07-01 06:45] #340 closed, assigned to nobody

[2022-07-01 06:54] szarnyasg opened #402 "Generate Interactive update streams"
For SNB Interactive, updates are continuous and not bound to daily batches. Therefore, inserts and deletes go into files sorted by `creationDate`/`deletionDate` (resp.).

For the inserts, each line should define an operation, which necessitates merging all outgoing edges (not just 1-N but also N-M ones) and attributes into the file. E.g. `Forum.csv` should have the `Forum_hasTag_Tag` edges merged

[2022-07-02 12:46] dszakallas commented on #395
Could you tell me which ones are extra? Are inserts required for them?

[2022-07-02 13:03] szarnyasg commented on #395
*Only* these ones are needed, the rest are extra:

      - Comment.csv
      - Forum.csv
      - Person.csv
      - Post.csv
      - Forum_hasMember_Person.csv
      - Person_knows_Person.csv
      - Person_likes_Comment.csv
      - Person_likes_Post.csv

We have a separate issue for inserts: #402. There, the set of files is the same 8 files but the remaining dynamic files (e.g. Forum_hasTag_Tag)

[2022-07-02 13:03] szarnyasg commented on #402
The set of files is the same 8 files as for the deletes but the remaining dynamic files (e.g. Forum_hasTag_Tag) have to be joined & aggregated into them (as nested attributes). This is currently performed by a [Python/DuckDB script](https://github.com/ldbc/ldbc_snb_interactive_driver/blob/main/scripts/create_update_streams.py) but ultimately it should be implemented by Datagen.

[2022-07-02 15:46] szarnyasg opened #404 "Compute connected components in factor generation"
Required for BI query variant Q20a: https://github.com/ldbc/ldbc_snb_bi/issues/77

[2022-07-04 11:11] szarnyasg opened #405 "Calculate dependant dates to Interactive update streams"
SNB Interactive data sets used to have dependant date attributes.

![image](https://user-images.githubusercontent.com/1402801/177143408-d3d7cb03-c763-4255-bf2d-efb3de3f4619.png)

Code:
* https://github.com/ldbc/ldbc_snb_datagen_hadoop/blob/main/src/main/java/ldbc/snb/datagen/hadoop/UpdateEvent.java
* https://github.com/ldbc/ldbc_snb_datagen_hadoop/blob/main/src/main/java/ldbc/snb/datagen/serialize

[2022-07-05 13:31] #395 closed, assigned to nobody

[2022-07-05 13:46] #393 closed, assigned to nobody

[2022-07-09 15:43] dszakallas commented on #399
Resolved by #75

[2022-07-09 15:43] #399 closed, assigned to nobody

[2022-07-25 07:53] dszakallas commented on #343
Resolved by #409 .

[2022-07-25 07:53] #343 closed, assigned to nobody

[2022-07-27 14:36] szarnyasg commented on #321
SF30k ran successfully on 20 `i3.4xlarge` machines with the following settings:

[2022-07-27 14:36] #321 closed, assigned to nobody

[2022-07-27 14:38] szarnyasg commented on #316
The generator's scalability is now 'good enough', see #321 -- closing this as wontfix.

[2022-07-27 14:38] #316 closed, assigned to nobody

[2022-07-27 14:39] szarnyasg commented on #390
This turned out to be hard -- we recommend that implementers concatenate their files during preprocessing as they see fit.
Closing this as wontfix.

[2022-07-27 14:39] #390 closed, assigned to nobody

[2022-07-27 15:07] szarnyasg commented on #405
See ongoing work in the [Interactive driver](https://github.com/ldbc/ldbc_snb_interactive_driver/pull/179/files#diff-d82299536ca81aa22031b9a8b0adfca2e15c2ec9573fd6e82226f69a5133f1da)

[2022-08-12 05:26] lol opened #412 "What do "fb" and "zf" suffix mean in datasets generated by datagen (available on graphalytics website)?"
Hi,

I suppose "fb" refers to a Facebook-like social media graph.

But what does "zf" mean?

Context: Names of lot of datagen datasets have "fb" and "zf" as suffix. https://graphalytics.org/datasets I have also tried reading the relevant paper(s) but couldn't find the answer.

Thank you.

[2022-08-12 06:04] szarnyasg commented on #412
Hi,
It refers to a [Zipfian distribution](https://en.wikipedia.org/wiki/Zipf%27s_law) The Datagen implements this with the [`ZipfDistribution`](https://github.com/ldbc/ldbc_snb_datagen_hadoop/blob/main/src/main/java/ldbc/snb/datagen/generator/distribution/ZipfDistribution.java) class.

[2022-08-12 06:14] lol commented on #412
Thank you!

[2022-08-12 06:14] #412 closed, assigned to nobody

[2022-08-13 07:55] szarnyasg opened #414 "Serialize factors in Parquet"
Factor files can be quite large and we always process them using DuckDB which has a built-in Parquet reader. So it would make sense to serialize them in Parquet format by default.

[2022-08-14 18:47] #219 closed, assigned to szarnyasg

[2022-08-14 21:23] #414 closed, assigned to dszakallas

[2022-08-17 13:03] szarnyasg commented on #404
Fixed by #415

[2022-08-17 13:03] #404 closed, assigned to dszakallas

[2022-09-14 11:28] szarnyasg opened #418 "Document instructions for deploying to Docker Hub"
$title says it all

[2022-09-25 18:21] GLaDAP opened #419 "People4Hops factor table does not guarantee paths between two persons"
For SNB Interactive, for parameter selection the People4Hops factor table is used to get two persons with a path that is 4 hops long.
However, not all person pairs in the people4Hops have a path.

To reproduce:
1. Using the `generate-all.sh` script from [ldbc_snb_interactive_impls](https://github.com/ldbc/ldbc_snb_interactive_impls/blob/main/scripts/generate-all.sh), generate SF1.
2. Load SF1 into

[2022-09-25 18:48] szarnyasg commented on #419
Thanks for reporting this! This is a pretty nasty bug but I have a workaround in mind.

This problem occurs because the factor generation step in the data generator is unaware of the benchmark's time window. So it has two choices:

1. Only return person pairs between whom there is always a 4-hop path. The are two approaches for this:

   a. Only use persons and knows edges which always exist in th

[2022-09-25 20:56] szarnyasg commented on #419
So the solution for BI is relatively simple to implement: https://github.com/ldbc/ldbc_snb_bi/pull/104/files

The extra distinct is there as a naive implementation of factorization to limit the memory use of the long acyclic path.
Some benchmark results (for the full BI paramgen run): https://github.com/ldbc/ldbc_snb_bi/pull/104#issue-1385136217

[2022-09-29 06:44] #419 closed, assigned to nobody

[2022-09-29 06:44] szarnyasg commented on #418
7895e28cd95f10402a8cea52c9d26961943435a3..754526ae22bcdbb827e2e1c524eedc8a44351850 fixed this

[2022-09-29 06:44] #418 closed, assigned to nobody

[2022-09-29 06:52] szarnyasg opened #420 "Docker image fails when generating factors"
The Docker image for generating factors works in [CI](https://app.circleci.com/pipelines/github/ldbc/ldbc_snb_interactive_impls/1150/workflows/b98ecce4-890a-4cc6-88c1-bc36e51e838e/jobs/1192) but fails on a Fedora server.

[code]

[code]

[2022-09-29 07:13] szarnyasg commented on #420
Related issue: #231

[2022-09-29 07:34] szarnyasg commented on #420
Adjusting the `ulimit` did not help. I scrapped the Fedora 36 instance and tried the generating the factors on a fresh Ubuntu 22.04 (x86, `r6id.xlarge`) instance. And, lo and behold, the bug went away.

[2022-09-29 08:33] #420 closed, assigned to nobody

[2022-10-09 18:13] szarnyasg opened #421 "Some lastName Strings are more than 40 characters"
Analyzing the surnameByCountryBirthPlace.txt.freq.sort file in DuckDB reveals that some strings are longer than 40 characters, which is supposed to be the limit for the length of type `String`.

[code]

Fun fact: this issue has been present in the Datagen since the v0.1 commit in May 2013, see 5396b3dbf3980237653c0a894f5efcfbd4ec885c.

This issue is also present in the [Hadoop-based Datagen](https

[2022-10-10 02:30] szarnyasg commented on #421
This is fixed by synchronizing the specification with the actual generated data sets: https://github.com/ldbc/ldbc_snb_docs/commit/efb90bac712090d7aaa068592ac41237580e2970

[2022-10-10 02:30] #421 closed, assigned to nobody

[2022-10-10 02:31] szarnyasg commented on #405
The SNB Interactive driver now implements this feature using DuckDB: https://github.com/ldbc/ldbc_snb_interactive_driver/blob/d49f650199283e6d0df16297b16bf6470dbf4be3/scripts/add_dependent_time_interactive.py

[2022-10-10 02:42] szarnyasg commented on #394
Hello again,

The bad news: this functionality is unlikely to be supported in the Datagen.

The good news: I have generated the data sets and uploaded them to Cloudflare R2 (an egress-free object storage):

## Composite Merged FK

* https://pub-383410a98aef4cb686f0c7601eddd25f.r2.dev/bi-pre-audit/bi-sf1-composite-merged-fk.tar.zst
* https://pub-383410a98aef4cb686f0c7601eddd25f.r2.dev/bi-pre-audit/

[2022-10-14 07:55] szarnyasg commented on #307
The trick to count the size of the data set is to use the [`s4cmd`](https://github.com/bloomreach/s4cmd) command-line tool:

[code]

[2022-10-18 19:27] cw00dw0rd commented on #394
Hi @szarnyasg

Sorry to hear that this functionality won't be supported in the utility, as it fits multi-model graph databases quite well. Was there some issue with implementing it or would you still be open to having it added if we were able to?

Apologies if I am missing something but the datasets you just provided seem to have the same schema as before, was that the intention? Just trying to de

[2022-10-18 19:56] szarnyasg commented on #394
Hi,

It’s the same schema as before but R2 is (slightly) faster than SURF.

Sure, we are open for reviewing PRs in the Datagen.

Gabor

On Tue, 18 Oct 2022 at 21:27, Chris Woodward ***@***.***>
wrote:

[2022-10-18 21:15] szarnyasg commented on #394
By the way, maybe an important piece of information that's missing from the discussion above: systems can pre-process the data set before loading. So you can take e.g. the composite merge foreign CSV files, run them through a script (which can use anything cut, Perl scripts, DuckDB SQL script, etc.) and create a new set of CSV files, then load those into the system-under-test. We try to avoid this

[2022-11-01 17:13] szarnyasg commented on #420
Ran into this again 😢.

[2022-11-03 12:17] szarnyasg opened #422 "Factor table outputs depend on the machine size"
When run in CircleCI, the `person4Hops` factor table can have a different output depending on whether the machine is a `large` or an `xlarge` instance. Demonstrated with 2+2 executions generating SF0.3:

[code]

## `large` instance (4 vCPUs, 8 GB RAM)
- https://app.circleci.com/pipelines/github/ldbc/ldbc_snb_interactive_impls/1214/workflows/66ea30e4-0894-4d7a-a077-62ab9bed46da/jobs/1262
- https://

[2022-11-03 19:04] szarnyasg commented on #422
Managed to reproduce this on a vanilla EC2 machine (running Ubuntu 22.04 and using the Datagen Docker image).

[code]

With two threads (`parallelism 2`):
[code]

With a single thread (`parallelism 1`):
[code]

[2022-11-03 19:38] szarnyasg commented on #422
Added a few extra sorts, now both 1- and 2-threaded executions return the same.

Sampling the first and last 5 lines:

[code]

1 thread:
[code]

2 threads:
[code]

[2022-11-03 19:59] #422 closed, assigned to nobody

[2022-11-15 22:55] cw00dw0rd commented on #394
Hi Gabor @szarnyasg

Sorry to keep this thread going so long but I downloaded and attempted to decompress the files above and the SF1 worked fine but SF1000 reports the following error:

[code]

The command I ran was the following:
`tar --use-compress-program=unzstd -xvf bi-sf1000-composite-projected-fk.tar.zst.000`

I attempted this with both the merge and projected files and receive the same err

[2022-11-15 22:56] szarnyasg commented on #394
Hi Chris,

Use cat + tar + unztsd:
https://github.com/ldbc/auditing-tools/blob/main/cloudflare-r2.md#recombining-and-decompressing-data-sets
For this, you'll need the 000, 001, etc. files in the same location.

Gabor

On Tue, Nov 15, 2022 at 4:55 PM Chris Woodward ***@***.***>
wrote:

[2022-11-16 03:02] cw00dw0rd commented on #394
Hi Gabor,

I am unable to access that link, it shows 404.

Chris

[2022-11-16 04:13] szarnyasg commented on #394
Oops, I linked to a private repo :). This is its public counterpart:

https://github.com/ldbc/ldbc_snb_bi/blob/main/snb-bi-pre-generated-data-sets.md#streaming-decompression

On Tue, Nov 15, 2022 at 9:02 PM Chris Woodward ***@***.***>
wrote:

[2022-11-16 16:00] cw00dw0rd commented on #394
Thank you, that did the trick!

[2022-11-23 10:08] szarnyasg opened #424 "New factor table: `personNumFriendOfFriendComments`"
Similarly to the `personNumFriendOfFriendPost`, we should compute a `personNumFriendOfFriendComments` table to be used for Interactive Q14, variant (b).

[2022-11-23 20:18] cw00dw0rd commented on #394
Hi Gabor,

Do you, by chance, have the IC substitution parameters used for the datasets you shared above?
I found this: [https://github.com/ldbc/ldbc_snb_bi/blob/main/snb-bi-pre-generated-data-sets.md#parameters](https://github.com/ldbc/ldbc_snb_bi/blob/main/snb-bi-pre-generated-data-sets.md#parameters)
but that only has the bi parameters.

To confirm, while this is tagged with `bi` I assumed the

[2022-11-23 22:01] szarnyasg commented on #394
Hi Chris,

We are working on tuning the parameter generator for the new Interactive
workload.

Currently your best bet would be to download the factor tables from [1] and
run them through the Interactive v2 driver’s paramgen at [2]. These will
give valid parameters for queries on the initial snapshot.

The final version of the paramgen for Interactive v2 will produce
parameters bucketed by days (i

[2022-11-28 01:34] cw00dw0rd commented on #394
I attempted to run the paramgen but I must be missing something.
I copied the factors folders into a factors folder I made within the paramgen folder so the resulting structure looks like the following:
[code]

After that, I export the variable for `LDBC_SNB_DATA_ROOT_DIRECTORY` to the data directory

[code]

And then I attempt to run the script while in the `ldbc_snb_interactive_driver/paramgen`

[2022-11-28 09:35] szarnyasg commented on #394
Ooops, I forgot that the paramgen has undergone some changes recently and
it needs the raw data sets for parameter selection. You can find them under
the following links:

*
https://pub-383410a98aef4cb686f0c7601eddd25f.r2.dev/bi-raw/bi-sf1-raw.tar.zst
*
https://pub-383410a98aef4cb686f0c7601eddd25f.r2.dev/bi-raw/bi-sf3-raw.tar.zst
*
https://pub-383410a98aef4cb686f0c7601eddd25f.r2.dev/bi-raw/bi-sf10

[2022-11-28 15:08] cw00dw0rd commented on #394
Thank you! To confirm, these generated parameters will be compatible with the cloudflare datasets you linked above?

[2022-11-28 15:59] szarnyasg commented on #394
Yes, they should be compatible

On Monday, November 28, 2022, Chris Woodward ***@***.***>
wrote:

[2022-11-28 19:37] cw00dw0rd commented on #394
After downloading and unpacking I now receive the following:
[code]

The folders in dynamic are the following:
[code]

[2022-11-28 22:09] szarnyasg commented on #394
You need both the factors and the raw data set. See the CI commands for an
example on where to place these directories:

https://github.com/ldbc/ldbc_snb_interactive_impls/blob/59d5fb15869464adf60400fca20554bc717dbc08/.circleci/config.yml#L48-L73

On Mon, Nov 28, 2022 at 8:38 PM Chris Woodward ***@***.***>
wrote:

[2022-11-29 18:08] cw00dw0rd commented on #394
Thank you, the directory I was supplying was too far down.
It seems to have run for quite a while but then I am given the following error
[code]